<div data-bind="page: {id: 'environment', afterShow: function() { currPageId('environment'); }}">
  <div class="tabs is-fullwidth is-toggle is-toggle-rounded">
    <ul>
      <li>
        <a data-bind="page-href: '../healthcare'">
          <span class="icon">
              <i class="fa fa-arrow-circle-left"></i>
          </span>
          การเข้าถึงระบบบริการสุขภาพ&nbsp;
        </a>
      </li>
      <li>
        <a data-bind="click: submitResults">
          บันทึก&nbsp;
          <span class="icon">
              <i class="fa fa-save"></i>
          </span>
        </a>
      </li>
      <li>
        <a data-bind="page-href: '../lab'">
          ผลการตรวจทางห้องปฏิบัติการฯ&nbsp;
          <span class="icon">
            <i class="fa fa-arrow-circle-right"></i>
          </span>
        </a>
      </li>
    </ul>
  </div> <!-- tabs -->
  <div class="box">
    <h1 class="title is-size-5">แบบประเมินสิ่งแวดล้อมสำหรับผู้ป่วยสูงอายุภาวะสมองเสื่อม</h1>
    <table class="table">
      <thead>
        <th>ข้อ</th>
        <th>สิ่งแวดล้อม</th>
        <th>คำตอบ</th>
      </thead>
      <tbody>
        <col width="5%">
        <col width="65%">
        <col width="30%">
        <tr>
          <td>1.</td>
          <td>ลดสิ่งกระตุ้นที่ทำให้อาการแย่ลง เช่น เสียงรบกวน</td>
          <td>
            <div class="field is-grouped">
              <div class="control">
                <label class="radio">
                  <input type="radio" data-bind="checked: env_1" name="env_1" value="yes">
                  มี
                </label>
                <label class="radio">
                  <input type="radio" data-bind="checked: env_1" name="env_1" value="no">
                  ไม่มี
                </label>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>2.</td>
          <td>ติดสัญลักษณ์หรือตัวหนังสือบอกตำแหน่งห้องน้ำ</td>
          <td>
            <div class="field is-grouped">
              <div class="control">
                <label class="radio">
                  <input type="radio" data-bind="checked: env_2" name="env_2" value="yes">
                  มี
                </label>
                <label class="radio">
                  <input type="radio" data-bind="checked: env_2" name="env_2" value="no">
                  ไม่มี
                </label>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>3.</td>
          <td>เลือกใช้นาฬิกาตัวเลขขนาดใหญ่</td>
          <td>
            <div class="field is-grouped">
              <div class="control">
                <label class="radio">
                  <input type="radio" data-bind="checked: env_3" name="env_3" value="yes">
                  มี
                </label>
                <label class="radio">
                  <input type="radio" data-bind="checked: env_3" name="env_3" value="no">
                  ไม่มี
                </label>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>4.</td>
          <td>แสงสว่างเพียงพอ</td>
          <td>
            <div class="field is-grouped">
              <div class="control">
                <label class="radio">
                  <input type="radio" data-bind="checked: env_4" name="env_4" value="yes">
                  มี
                </label>
                <label class="radio">
                  <input type="radio" data-bind="checked: env_4" name="env_4" value="no">
                  ไม่มี
                </label>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>5.</td>
          <td>เตียงนอน เก้าอี้ โถส้วม มีความสูงพอเหมาะไม่เตี้ยเกินไป</td>
          <td>
            <div class="field is-grouped">
              <div class="control">
                <label class="radio">
                  <input type="radio" data-bind="checked: env_5" name="env_5" value="yes">
                  มี
                </label>
                <label class="radio">
                  <input type="radio" data-bind="checked: env_5" name="env_5" value="no">
                  ไม่มี
                </label>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>6.</td>
          <td>ทางเดินมีราวจับตลอด</td>
          <td>
            <div class="field is-grouped">
              <div class="control">
                <label class="radio">
                  <input type="radio" data-bind="checked: env_6" name="env_6" value="yes">
                  มี
                </label>
                <label class="radio">
                  <input type="radio" data-bind="checked: env_6" name="env_6" value="no">
                  ไม่มี
                </label>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>7.</td>
          <td>พื้นห้องน้ำสม่ำเสมอ ไม่ลื่น</td>
          <td>
            <div class="field is-grouped">
              <div class="control">
                <label class="radio">
                  <input type="radio" data-bind="checked: env_7" name="env_7" value="yes">
                  มี
                </label>
                <label class="radio">
                  <input type="radio" data-bind="checked: env_7" name="env_7" value="no">
                  ไม่มี
                </label>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>8.</td>
          <td>ไม่มีพื้นต่างระดับในบริเวณบ้าน</td>
          <td>
            <div class="field is-grouped">
              <div class="control">
                <label class="radio">
                  <input type="radio" data-bind="checked: env_8" name="env_8" value="yes">
                  มี
                </label>
                <label class="radio">
                  <input type="radio" data-bind="checked: env_8" name="env_8" value="no">
                  ไม่มี
                </label>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>9.</td>
          <td>ห้องน้ำกว้างพอสำหรับผู้ดูแลเข้าไปได้</td>
          <td>
            <div class="field is-grouped">
              <div class="control">
                <label class="radio">
                  <input type="radio" data-bind="checked: env_9" name="env_9" value="yes">
                  มี
                </label>
                <label class="radio">
                  <input type="radio" data-bind="checked: env_9" name="env_9" value="no">
                  ไม่มี
                </label>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>10.</td>
          <td>พื้นห้องน้ำไม่ลื่น และแยกส่วนแห้ง ส่วนเปียก</td>
          <td>
            <div class="field is-grouped">
              <div class="control">
                <label class="radio">
                  <input type="radio" data-bind="checked: env_10" name="env_10" value="yes">
                  มี
                </label>
                <label class="radio">
                  <input type="radio" data-bind="checked: env_10" name="env_10" value="no">
                  ไม่มี
                </label>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>11.</td>
          <td>อุปกรณ์อาบน้ำอยู่ในระดับสายตาเพื่อให้สะดวกในการใช้งาน</td>
          <td>
            <div class="field is-grouped">
              <div class="control">
                <label class="radio">
                  <input type="radio" data-bind="checked: env_11" name="env_11" value="yes">
                  มี
                </label>
                <label class="radio">
                  <input type="radio" data-bind="checked: env_11" name="env_11" value="no">
                  ไม่มี
                </label>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>12.</td>
          <td>มีราวจับสำหรับยึดเกาะในห้องน้ำ</td>
          <td>
            <div class="field is-grouped">
              <div class="control">
                <label class="radio">
                  <input type="radio" data-bind="checked: env_12" name="env_12" value="yes">
                  มี
                </label>
                <label class="radio">
                  <input type="radio" data-bind="checked: env_12" name="env_12" value="no">
                  ไม่มี
                </label>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>13.</td>
          <td>ห้องน้ำมีทางลาด มีประตูใหญ่พอที่รถเข็นเข้าไปได้</td>
          <td>
            <div class="field is-grouped">
              <div class="control">
                <label class="radio">
                  <input type="radio" data-bind="checked: env_13" name="env_13" value="yes">
                  มี
                </label>
                <label class="radio">
                  <input type="radio" data-bind="checked: env_13" name="env_13" value="no">
                  ไม่มี
                </label>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>14.</td>
          <td>ประตูห้องน้ำสามารถเปิดจากด้านนอกเข้าไปได้</td>
          <td>
            <div class="field is-grouped">
              <div class="control">
                <label class="radio">
                  <input type="radio" data-bind="checked: env_14" name="env_14" value="yes">
                  มี
                </label>
                <label class="radio">
                  <input type="radio" data-bind="checked: env_14" name="env_14" value="no">
                  ไม่มี
                </label>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>15.</td>
          <td>ใช้วัสดุกั้นห้อง โดยหลีกเลี่ยงกระจกหรือกระจกเงา</td>
          <td>
            <div class="field is-grouped">
              <div class="control">
                <label class="radio">
                  <input type="radio" data-bind="checked: env_15" name="env_15" value="yes">
                  มี
                </label>
                <label class="radio" data-bind="checked: env_15" name="env_15" value="no">
                  <input type="radio">
                  ไม่มี
                </label>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>16.</td>
          <td>บริเวณที่ผู้สูงอายุใช้ในชีวิตประจำวัน เช่นห้องนอนควรมีเฟอร์นิเจอร์เท่าที่จำเป็นและปลอดภัย เช่นไม่มีล้อ วัสดุไม่แตกหักง่าย</td>
          <td>
            <div class="field is-grouped">
              <div class="control">
                <label class="radio">
                  <input type="radio" data-bind="checked: env_16" name="env_16" value="yes">
                  มี
                </label>
                <label class="radio">
                  <input type="radio" data-bind="checked: env_16" name="env_16" value="no">
                  ไม่มี
                </label>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>17.</td>
          <td>มีการจัดให้ผู้สูงอายุอยู่ในสิ่งแวดล้อมที่คุ้นเคย</td>
          <td>
            <div class="field is-grouped">
              <div class="control">
                <label class="radio">
                  <input type="radio" data-bind="checked: env_17" name="env_17" value="yes">
                  มี
                </label>
                <label class="radio">
                  <input type="radio" data-bind="checked: env_17" name="env_17" value="no">
                  ไม่มี
                </label>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>18.</td>
          <td>มีอุปกรณ์และของใช้ส่วนตัวที่ผู้สูงอายุเป็นเจ้าของ เช่น รูปภาพที่คุ้นเคย บุคคลที่เป็นที่รักในครอบครัว ภาพกิจกรรมที่มีความสุข</td>
          <td>
            <div class="field is-grouped">
              <div class="control">
                <label class="radio">
                  <input type="radio" data-bind="checked: env_18" name="env_18" value="yes">
                  มี
                </label>
                <label class="radio">
                  <input type="radio" data-bind="checked: env_18" name="env_18" value="no">
                  ไม่มี
                </label>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="tabs is-fullwidth is-toggle is-toggle-rounded">
    <ul>
      <li>
        <a data-bind="page-href: '../healthcare'">
          <span class="icon">
              <i class="fa fa-arrow-circle-left"></i>
          </span>
          การเข้าถึงระบบบริการสุขภาพ&nbsp;
        </a>
      </li>
      <li>
        <a data-bind="click: submitResults">
          บันทึก&nbsp;
          <span class="icon">
              <i class="fa fa-save"></i>
          </span>
        </a>
      </li>
      <li>
        <a data-bind="page-href: '../lab'">
          ผลการตรวจทางห้องปฏิบัติการฯ&nbsp;
          <span class="icon">
            <i class="fa fa-arrow-circle-right"></i>
          </span>
        </a>
      </li>
    </ul>
  </div> <!-- tabs -->
</div> <!-- page -->
