<div data-bind="page: {id: 'healthcare'}">
  <div class="box">
    <h1 class="title is-size-5">4. การเข้าถึงระบบบริการสุขภาพ</h1>
    <table class="table">
      <col width="5%">
      <col width="30%">
      <col width="35%">
      <col width="30%">
      <tr>
        <td></td>
        <td colspan="3"><strong>4.1 การเข้าถึงแหล่งบริการด้านส่งเสริมสุขภาพ</strong></td>
      </tr>
      <tr>
        <td>1.</td>
        <td>ท่านเคยใช้บริการตรวจสุขภาพของผู้สูงอายุสมองเสื่อมของโรงพยาบาลที่มีการจัดบริการให้หรือไม่</td>
        <td colspan="2">
          <div class="field">
            <div class="control">
              <label class="radio">
                <input type="radio" value="no" data-bind="checked: hcare_1" name="hcare_1">
                ไม่เคย
              </label>
              <label class="radio">
                <input type="radio" value="yes" data-bind="checked: hcare_1" name="hcare_1">
                เคย
              </label>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>2.</td>
        <td>ท่านต้องการสื่อหรือข้อมูลข่าวสารด้านสุขภาพ สำหรับผู้ป่วยสูงอายุ ภาวะสมองเสื่อมจากโรงพยาบาลประเภทใดบ้าง</td>
        <td>
          <div class="field">
            <div class="control">
              <ul>
                <li>
                  <label class="radio">
                    <input type="radio" data-bind="checked: hcare_2" value="no" name="hcare_2">
                    ไม่ต้องการ
                  </label>
                </li>
                <li>
                  <label class="radio">
                    <input type="radio" data-bind="checked: hcare_2" value="yes" name="hcare_2">
                    ต้องการ
                  </label>
                </li>
              </ul>
            </div>
          </div>
        </td>
        <td>
          <div class="field">
            <div class="control">
              <ol>
                <li>
                <label class="checkbox">
                  <input type="checkbox" data-bind="checked: hcare_2_1" name="mediaReq" value="1">
                  แผ่นพับ
                </label>
                </li>
                <li>
                <label class="checkbox">
                  <input type="checkbox" data-bind="checked: hcare_2_1" name="mediaReq" value="2">
                  หนังสือ
                </label>
                </li>
                <li>
                <label class="checkbox">
                  <input type="checkbox" data-bind="checked: hcare_2_1" name="mediaReq" value="3">
                  ซีดี
                </label>
                </li>
                <li>
                <label class="checkbox">
                  <input type="checkbox" data-bind="checked: hcare_2_1" name="mediaReq" value="4">
                  บอร์ดโปสเตอร์
                </label>
                </li>
                <li>
                <label class="checkbox">
                  <input type="checkbox" data-bind="checked: hcare_2_1" name="mediaReq" value="5">
                  กิจกรรมกลุ่ม
                </label>
                </li>
                <li>
                  <input class="input" type="text" placeholder="อื่นๆ ระบุ"
                    data-bind="value: hcare_2_comment">
                </li>
              </ol>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>3.</td>
        <td>ท่านมีความพอใจในสื่อหรือข้อมูลข่าวสารด้านสุขภาพ สำหรับผู้ป่วยสูงอายุภาวะสมองเสื่อมที่ได้รับในข้อ 2 หรือไม่</td>
        <td colspan="2">
          <table class="table is-narrow is-striped is-fullwidth">
            <tr>
              <td>แผ่นพับ</td>
              <td>
                <div class="field">
                  <div class="control">
                    <label class="radio">
                      <input type="radio" data-bind="checked: hcare_3_1" name="hcare_3_1" value="no">
                      ไม่พอใจ
                    </label>
                    <label class="radio">
                      <input type="radio" data-bind="checked: hcare_3_1" name="hcare_3_1" value="yes">
                      พอใจ
                    </label>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>หนังสือ</td>
              <td>
                <div class="field">
                  <div class="control">
                    <label class="radio">
                      <input type="radio" data-bind="checked: hcare_3_2" name="hcare_3_2" value="no">
                      ไม่พอใจ
                    </label>
                    <label class="radio">
                      <input type="radio" data-bind="checked: hcare_3_2" name="hcare_3_2" value="yes">
                      พอใจ
                    </label>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>ซีดี</td>
              <td>
                <div class="field">
                  <div class="control">
                    <label class="radio">
                      <input type="radio" data-bind="checked: hcare_3_3" name="hcare_3_3" value="no">
                      ไม่พอใจ
                    </label>
                    <label class="radio">
                      <input type="radio" data-bind="checked: hcare_3_3" name="hcare_3_3" value="yes">
                      พอใจ
                    </label>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>บอร์ดโปสเตอร์</td>
              <td>
                <div class="field">
                  <div class="control">
                    <label class="radio">
                      <input type="radio" data-bind="checked: hcare_3_4" name="hcare_3_4" value="no">
                      ไม่พอใจ
                    </label>
                    <label class="radio">
                      <input type="radio" data-bind="checked: hcare_3_4" name="hcare_3_4" value="yes">
                      พอใจ
                    </label>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>กิจกรรมกลุ่ม</td>
              <td>
                <div class="field">
                  <div class="control">
                    <label class="radio">
                      <input type="radio" data-bind="checked: hcare_3_5" name="hcare_3_5" value="no">
                      ไม่พอใจ
                    </label>
                    <label class="radio">
                      <input type="radio" data-bind="checked: hcare_3_5" name="hcare_3_5" value="yes">
                      พอใจ
                    </label>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>อื่นๆ</td>
              <td>
                <div class="field">
                  <div class="control">
                    <label class="radio">
                      <input type="radio" data-bind="checked: hcare_3_6" name="hcare_3_6" value="no">
                      ไม่พอใจ
                    </label>
                    <label class="radio">
                      <input type="radio" data-bind="checked: hcare_3_6" name="hcare_3_6" value="yes">
                      พอใจ
                    </label>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>4.</td>
        <td>ส่วนใหญ่เมื่อท่านเจ็บป่วยหรือมีปัญหาด้านสุขภาพ ท่านเลือกใช้บริการสุขภาพอย่างไร</td>
        <td colspan="2">
          <div class="field">
            <div class="control">
              <ol>
                <li>
                  <label class="checkbox">
                    <input type="checkbox" data-bind="checked: hcare_4" name="hcare_4" value="1">
                    ไปสถานพยาบาลของรัฐ
                  </label>
                </li>
                <li>
                  <label class="checkbox">
                    <input type="checkbox" data-bind="checked: hcare_4" name="hcare_4" value="2">
                    ไปสถานพยาบาลของเอกชนคลินิก
                  </label>
                </li>
                <li>
                  <label class="checkbox">
                    <input type="checkbox" data-bind="checked: hcare_4" name="hcare_4" value="3">
                    ไปรักษาพื้นบ้าน/หาหมอพื้นบ้าน (แผนโบราณ)
                  </label>
                </li>
                <li>
                  <label class="checkbox">
                    <input type="checkbox" data-bind="checked: hcare_4" name="hcare_4" value="4">
                    ซื้อยากินเอง/ผลิตภัณฑ์เสริมอาหาร/รักษาตัวเอง
                  </label>
                </li>
                <li>
                  <input type="text" class="input" placeholder="อื่นๆ โปรดระบุ"
                    data-bind="value: hcare_4_other">
                </li>
              </ol>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>5.</td>
        <td>สิทธิในการรักษาพยาบาลของท่าน ตอบได้มากกว่า 1 ข้อ</td>
        <td colspan="2">
          <div class="field">
            <div class="control">
              <ol>
                <li>
                  <label class="checkbox">
                    <input type="checkbox" data-bind="checked: hcare_5" name="hcare_5" value="1">
                    บัตรประกันสุขภาพถ้วนหน้า
                  </label>
                </li>
                <li>
                  <label class="checkbox">
                    <input type="checkbox" data-bind="checked: hcare_5" name="hcare_5" value="2">
                    ประกันสังคม
                  </label>
                </li>
                <li>
                  <label class="checkbox">
                    <input type="checkbox" data-bind="checked: hcare_5" name="hcare_5" value="3">
                    ประกันสุขภาพกับบริษัทประกันภัย
                  </label>
                </li>
                <li>
                  <label class="checkbox">
                    <input type="checkbox" data-bind="checked: hcare_5" name="hcare_5" value="4">
                    สวัสดิการจากนายจ้าง เช่น นายจ้างมีสัญญาจ่ายให้รพ.
                  </label>
                </li>
                <li>
                  <label class="checkbox">
                    <input type="checkbox" data-bind="checked: hcare_5" name="hcare_5" value="5">
                    สวัสดิการข้าราชการ/รัฐวิสาหกิจ
                  </label>
                </li>
                <li>
                  <label class="checkbox">
                    <input type="checkbox" data-bind="checked: hcare_5" name="hcare_5" value="6">
                    จ่ายเงินเอง
                  </label>
                </li>
              </ol>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>6.</td>
        <td>ส่วนใหญ่ท่านได้ใช้สิทธิตามที่กล่าวในข้อ 5 หรือไม่</td>
        <td colspan="2">
          <div class="field">
            <div class="control">
              <label class="radio">
                <input type="radio" data-bind="checked: hcare_6" name="hcare_6" value="yes">
                ใช้
              </label>
              <label class="radio">
                <input type="radio" data-bind="checked: hcare_6" name="hcare_6" value="no">
                ไม่ใช้แต่จ่ายเงินเอง
              </label>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>7.</td>
        <td>ความสะดวกในการเข้าถึงบริการทางสุขภาพที่ท่านใช้ประจำ</td>
        <td>
          <div class="field">
            <div class="control">
              <ul>
                <li>
                  <label class="radio">
                    <input type="radio" data-bind="checked: hcare_7_1" name="hcare_7_1" value="yes">
                    สะดวก
                  </label>
                </li>
                <li>
                  <label class="radio">
                    <input type="radio" data-bind="checked: hcare_7_1" name="hcare_7_1" value="no">
                    ไม่สะดวก ระบุ (ตอบได้มากกว่า 1 ข้อ)
                </label>
                </li>
              </ul>
            </div>
          </div>
        </td>
        <td>
          <div class="field">
            <div class="control">
              <ol>
                <li>
                  <label class="checkbox">
                    <input type="checkbox" data-bind="checked: hcare_7_2" name="hcare_7_2" value="1">
                    ระยะทางไกลจากบ้าน
                  </label>
                </li>
                <li>
                  <label class="checkbox">
                    <input type="checkbox" data-bind="checked: hcare_7_2" name="hcare_7_2" value="2">
                    วิธีในการเดินทาง
                  </label>
                </li>
                <li>
                  <label class="checkbox">
                    <input type="checkbox" data-bind="checked: hcare_7_2" name="hcare_7_2" value="3">
                    ระยะเวลาการรอคอยการเข้ารับบริการ
                  </label>
                </li>
                <li>
                  <label class="checkbox">
                    <input type="checkbox" data-bind="checked: hcare_7_2" name="hcare_7_2" value="4">
                    ช่องทางการเข้ารับบริการ เช่นช่องทางด่วนหรือคลินิกผู้สูงอายุ
                  </label>
                </li>
                <li>
                  <label class="checkbox">
                    <input type="checkbox" data-bind="checked: hcare_7_2" name="hcare_7_2" value="5">
                    ผู้ดูแล/ญาติ ที่พาไปรับบริการ
                  </label>
                </li>
                <li>
                  <label class="checkbox">
                    <input type="checkbox" data-bind="checked: hcare_7_2" name="hcare_7_2" value="6">
                    ค่าใช้จ่ายในการเดินทางสูง
                  </label>
                </li>
                <li>
                  <label class="checkbox">
                    <input type="checkbox" data-bind="checked: hcare_7_2" name="hcare_7_2" value="7">
                    รูปแบบการเดินทางที่ไม่เอื้ออำนวย
                  </label>
                </li>
                <li>
                  <input type="text" class="input" placeholder="อื่นๆ โปรดระบุ"
                    data-bind="value: hcare_7_2_other">
                </li>
              </ol>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>8.</td>
        <td>ระยะทางจากบ้านท่านไปสถานพยาบาล</td>
        <td colspan="2">
          <div class="field has-addons">
            <div class="control">
              <input type="number" step="0.1" min="0" class="input"
                data-bind="value: hcare_8">
            </div>
            <div class="control">
              <a class="button is-static">กิโลเมตร</a>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>9.</td>
        <td>ระยะเวลาในการเดินทางจากบ้านท่านไปสถานพยาบาล</td>
        <td colspan="2">
          <div class="field">
            <div class="control">
              <ul>
                <li>
                  <label class="radio">
                    <input type="radio" data-bind="checked: hcare_9" name="hcare_9" value="1">
                    น้อยกว่า 30 นาที
                  </label>
                </li>
                <li>
                  <label class="radio">
                    <input type="radio" data-bind="checked: hcare_9" name="hcare_9" value="2">
                    30-60 นาที
                  </label>
                </li>
                <li>
                  <label class="radio">
                    <input type="radio" data-bind="checked: hcare_9" name="hcare_9" value="3">
                    มากกว่า 60 นาที
                  </label>
                </li>
              </ul>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <input type="text" class="input" placeholder="อื่นๆ โปรดระบุ"
                data-bind="value: hcare_9_other">
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>10.</td>
        <td>ท่านเดินทางจากบ้านมาโรงพยาบาลด้วยวิธีใด</td>
        <td colspan="2">
          <div class="field">
            <div class="control">
              <ol>
                <li>
                  <label class="checkbox">
                    <input type="checkbox" data-bind="checked: hcare_10" name="hcare_10" value="1">
                    เดิน
                  </label>
                </li>
                <li>
                  <label class="checkbox">
                    <input type="checkbox" data-bind="checked: hcare_10" name="hcare_10" value="2">
                    รถรับจ้าง
                  </label>
                </li>
                <li>
                  <label class="checkbox">
                    <input type="checkbox" data-bind="checked: hcare_10" name="hcare_10" value="3">
                    รถโดยสารประจำทาง
                  </label>
                </li>
                <li>
                  <label class="checkbox">
                    <input type="checkbox" data-bind="checked: hcare_10" name="hcare_10" value="4">
                    รถมอเตอร์ไซค์
                  </label>
                </li>
                <li>
                  <label class="checkbox">
                    <input type="checkbox" data-bind="checked: hcare_10" name="hcare_10" value="5">
                    รถยนต์ส่วนตัว
                  </label>
                </li>
                <li>
                  <label class="checkbox">
                    <input type="checkbox" data-bind="checked: hcare_10" name="hcare_10" value="6">
                    เรือ
                  </label>
                </li>
                <li>
                  <input class="input" type="text" placeholder="อื่นๆ โปรดระบุ"
                    data-bind="value: hcare_10_other">
                </li>
              </ol>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>11.</td>
        <td>ค่าใช้จ่ายทั้งหมดในการรับบริการที่โรงพยาบาลครั้งสุดท้าย</td>
        <td colspan="2">
          <div class="field has-addons">
            <div class="control">
              <input class="input" type="number" step="0.1" min="0" placeholder="ค่าพาหนะ"
                data-bind="value: hcare_11_1">
            </div>
            <div class="control">
              <a class="button is-static">บาทต่อครั้ง</a>
            </div>
          </div>
          <div class="field has-addons">
            <div class="control">
              <input class="input" type="number" step="0.1" min="0" placeholder="ค่าอาหาร"
                data-bind="value: hcare_11_2">
            </div>
            <div class="control">
              <a class="button is-static">บาทต่อครั้ง</a>
            </div>
          </div>
          <div class="field has-addons">
            <div class="control">
              <input class="input" type="number" step="0.1" min="0" placeholder="ค่าอื่นๆ"
                data-bind="value: hcare_11_3">
              <p class="help">ค่าเช่ากรณีพักค้างคืน ค่าของใช้ส่วนตัวอื่นๆ</p>
            </div>
            <div class="control">
              <a class="button is-static">บาทต่อครั้ง</a>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>12.</td>
        <td>ท่านมีปัญหาการมาใช้บริการที่โรงพยาบาลหรือไม่</td>
        <td>
          <div class="field">
            <div class="control">
              <ul>
                <li>
                  <label class="radio">
                    <input type="radio" data-bind="checked: hcare_12_1" name="hcare_12_1" value="no">
                    ไม่มี
                  </label>
                </li>
                <li>
                  <label class="radio">
                    <input type="radio" data-bind="checked: hcare_12_1" name="hcare_12_1" value="yes">
                    มี ระบุ
                  </label>
                </li>
              </ul>
            </div>
          </div>
        </td>
        <td>
          <div class="field">
            <div class="control">
              <ol>
                <li>
                  <label class="checkbox">
                    <input type="checkbox" data-bind="checked: hcare_12_2" name="hcare_12_2" value="1">
                    ไม่มีค่าเดินทาง
                  </label>
                </li>
                <li>
                  <label class="checkbox">
                    <input type="checkbox" data-bind="checked: hcare_12_2" name="hcare_12_2" value="2">
                    ไม่มีใครพาไป
                  </label>
                </li>
                <li>
                  <label class="checkbox">
                    <input type="checkbox" data-bind="checked: hcare_12_2" name="hcare_12_2" value="3">
                    เสียรายได้จากการประกอบอาชีพ
                  </label>
                </li>
                <li>
                  <label class="checkbox">
                    <input type="checkbox" data-bind="checked: hcare_12_2" name="hcare_12_2" value="4">
                    มีขั้นตอนในการใช้บริการมาก
                  </label>
                </li>
                <li>
                  <label class="checkbox">
                    <input type="checkbox" data-bind="checked: hcare_12_2" name="hcare_12_2" value="5">
                    เจ้าหน้าที่โรงพยาบาลบริการไม่ดี
                  </label>
                </li>
                <li>
                  <label class="checkbox">
                    <input type="checkbox" data-bind="checked: hcare_12_2" name="hcare_12_2" value="6">
                    ระยะเวลารอคอยที่โรงพยาบาลนาน
                  </label>
                </li>
                <li>
                  <input type="text" class="input" placeholder="อื่นๆ โปรดระบุ"
                    data-bind="value: hcare_12_2_other">
                </li>
              </ol>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>13.</td>
        <td>ลักษณะความเจ็บป่วยหรือปัญหาด้านสุขภาพที่ทำให้ท่านมาโรงพยาบาลครั้งล่าสุด</td>
        <td colspan="2">
          <div class="field">
            <div class="control">
              <ol>
                <li>
                  <label class="radio">
                    <input type="radio" data-bind="checked: hcare_13" name="hcare_13" value="1">
                    ไม่ได้มาตามนัดแต่มีปัญหาสุขภาพที่เกิดขึ้นใหม่
                  </label>
                </li>
                <li>
                  <label class="radio">
                    <input type="radio" data-bind="checked: hcare_13" name="hcare_13" value="2">
                    แพทย์นัด (โรคเรื้อรัง/โรคทั่วไป/ภาวะแทรกซ้อนอื่นๆ)
                  </label>
                </li>
                <li>
                  <label class="radio">
                    <input type="radio" data-bind="checked: hcare_13" name="hcare_13" value="3">
                    อุบัติเหตุ/ฉุกเฉิน
                  </label>
                </li>
                <li>
                  <input type="text" class="input" placeholder="อื่นๆ โปรดระบุ"
                    data-bind="value: hcare_13_other">
                </li>
              </ol>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>14.</td>
        <td>ท่านพอใจกับการให้บริการสำหรับผู้ป่วยสูงอายุภาวะสมองเสื่อม<br>ในโรงพยาบาลครั้งล่าสุด ข้อใดบ้างในกรณีที่ได้รับบริการ<br>ถ้าไม่ได้รับบริการให้ข้ามไปข้อ 15</td>
        <td colspan="2">
          <table class="table">
            <tr>
              <col width="5%">
              <col width="55%">
              <col width="40%">
              <td>2.1</td>
              <td>คัดกรอง ตรวจประเมินสุขภาพผู้สูงอายุ</td>
              <td>
                <div class="field">
                  <div class="control">
                    <label class="radio">
                      <input type="radio" data-bind="checked: hcare_14_1" name="hcare_14_1" value="yes">
                      พอใจ
                    </label>
                    <label class="radio">
                      <input type="radio" data-bind="checked: hcare_14_1" name="hcare_14_1" value="no">
                      ไม่พอใจ
                    </label>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>2.2</td>
              <td>การรักษาโรค และฟื้นฟูสภาพทั่วไป รวมทั้งภาวะแทรกซ้อนต่างๆ</td>
              <td>
                <div class="field">
                  <div class="control">
                    <label class="radio">
                      <input type="radio" data-bind="checked: hcare_14_2" name="hcare_14_2" value="yes">
                      พอใจ
                    </label>
                    <label class="radio">
                      <input type="radio" data-bind="checked: hcare_14_2" name="hcare_14_2" value="no">
                      ไม่พอใจ
                    </label>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>2.3</td>
              <td>การเยี่ยมบ้าน การรักษาฟื้นฟูที่บ้านแก่ผู้สูงอายุ</td>
              <td>
                <div class="field">
                  <div class="control">
                    <label class="radio">
                      <input type="radio" data-bind="checked: hcare_14_3" name="hcare_14_3" value="yes">
                      พอใจ
                    </label>
                    <label class="radio">
                      <input type="radio" data-bind="checked: hcare_14_3" name="hcare_14_3" value="no">
                      ไม่พอใจ
                    </label>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>2.4</td>
              <td>การให้ความรู้ด้านสุขภาพและการดูแลตนเองของผู้สูงอายุ แก่ครอบครัว/ผู้ดูแลผู้ป่วย</td>
              <td>
                <div class="field">
                  <div class="control">
                    <label class="radio">
                      <input type="radio" data-bind="checked: hcare_14_4" name="hcare_14_4" value="yes">
                      พอใจ
                    </label>
                    <label class="radio">
                      <input type="radio" data-bind="checked: hcare_14_4" name="hcare_14_4" value="no">
                      ไม่พอใจ
                    </label>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>2.5</td>
              <td>การให้คำปรึกษา การส่งเสริมสุขภาพและป้องกันโรคสำหรับผู้ป่วยสูงอายุ ภาวะสมองเสื่อม</td>
              <td>
                <div class="field">
                  <div class="control">
                    <label class="radio">
                      <input type="radio" data-bind="checked: hcare_14_5" name="hcare_14_5" value="yes">
                      พอใจ
                    </label>
                    <label class="radio">
                      <input type="radio" data-bind="checked: hcare_14_5" name="hcare_14_5" value="no">
                      ไม่พอใจ
                    </label>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>15.</td>
        <td>ท่านคิดว่าการให้บริการสุขภาพของโรงพยาบาลครั้งล่าสุดเพียงพอหรือไม่</td>
        <td colspan="2">
          <div class="field">
            <div class="control">
              <label class="radio">
                <input type="radio" data-bind="checked: hcare_15" name="hcare_15" value="no">
                ไม่เพียงพอ
              </label>
              <label class="radio">
                <input type="radio" data-bind="checked: hcare_15" name="hcare_15" value="yes">
                เพียงพอ
              </label>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>16.</td>
        <td>กรณีเกิดเหตุเจ็บป่วยฉุกเฉิน กับผู้ป่วยสูงอายุภาวะสมองเสื่อม ท่านมาโรงพยาบาลนี้เป็นแห่งแรกหรือไม่</td>
        <td>
          <div class="field">
            <div class="control">
              <label class="radio">
                <input type="radio" data-bind="checked: hcare_16_1" name="hcare_16_1" value="yes">
                ใช่
              </label>
              <label class="radio">
                <input type="radio" data-bind="checked: hcare_16_1" name="hcare_16_1" value="no">
                ไม่ใช่
              </label>
            </div>
          </div>
        </td>
        <td>
          <div class="field">
            <div class="control">
              <ol>
                <li>
                  <label class="checkbox">
                    <input type="checkbox" data-bind="checked: hcare_16_2" name="hcare_16_2" value="1">
                    มีโรงพยาบาลที่อยู่ใกล้กว่า
                  </label>
                </li>
                <li>
                  <label class="checkbox">
                    <input type="checkbox" data-bind="checked: hcare_16_2" name="hcare_16_2" value="2">
                    มาโรงพยาบาลนี้แล้วอาจไม่พบแพทย์
                  </label>
                </li>
                <li>
                  <label class="checkbox">
                    <input type="checkbox" data-bind="checked: hcare_16_2" name="hcare_16_2" value="3">
                    มาโรงพยาบาลนี้แล้วอาจมีอุปกรณ์ไม่เพียงพอ
                  </label>
                </li>
                <li>
                  <input class="input" type="text" placeholder="อื่นๆ โปรดระบุ"
                    data-bind="value: hcare_16_2_other">
                </li>
              </ol>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>17.</td>
        <td>ค่าใช้จ่ายที่ต้องจ่ายเพิ่มเติมจากการใช้สิทธิที่มีอยู่แล้วจากการรับบริการครั้งสุดท้ายที่มารพ. จำนวน</td>
        <td colspan="2">
          <div class="field has-addons">
            <div class="control">
              <input class="input" type="number" step="0.1" min="0"
                data-bind="value: hcare_17">
            </div>
            <div class="control">
              <a class="button is-static">บาท</a>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>18.</td>
        <td>ท่านคิดว่าสามารถจ่ายค่าบริการสุขภาพ<strong>เพิ่มเติมจากสิทธิ</strong>ที่มีอยู่ได้ประมาณเท่าไหร่</td>
        <td colspan="2">
          <div class="field">
            <div class="control">
              <ol>
                <li>
                  <label class="radio">
                    <input type="radio" data-bind="checked: hcare_18" name="hcare_18" value="1">
                    น้อยกว่า 500 บาทต่อครั้ง
                  </label>
                </li>
                <li>
                  <label class="radio">
                    <input type="radio" data-bind="checked: hcare_18" name="hcare_18" value="2">
                    501-1,000 บาทต่อครั้ง
                  </label>
                </li>
                <li>
                  <label class="radio">
                    <input type="radio" data-bind="checked: hcare_18" name="hcare_18" value="3">
                    1,001-1,500 บาทต่อครั้ง
                  </label>
                </li>
                <li>
                  <label class="radio">
                    <input type="radio" data-bind="checked: hcare_18" name="hcare_18" value="4">
                    1,501-2,000 บาทต่อครั้ง
                  </label>
                </li>
                <li>
                  <label class="radio">
                    <input type="radio" data-bind="checked: hcare_18" name="hcare_18" value="5">
                    2,001-2,500 บาทต่อครั้ง
                  </label>
                </li>
                <li>
                  <label class="radio">
                    <input type="radio" data-bind="checked: hcare_18" name="hcare_18" value="6">
                    มากกว่า 2,501 บาทต่อครั้ง
                  </label>
                </li>
              </ol>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>19.</td>
        <td>ท่านเชื่อมั่นว่ายาที่ท่านได้รับมีมาตรฐานและเหมือนกับรพ.อื่นๆ</td>
        <td colspan="2">
          <div class="field">
            <div class="control">
              <div class="select">
                <select data-bind="value: hcare_19">
                  <option>โปรดเลือกคะแนน</option>
                  <option>น้อยที่สุด</option>
                  <option>น้อย</option>
                  <option>ปานกลาง</option>
                  <option>มาก</option>
                  <option>มากที่สุด</option>
                </select>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>20.</td>
        <td>ท่านมีความเชื่อมั่นในความเชี่ยวชาญของแพทย์เจ้าหน้าที่ในการให้พยาบาล/การรักษาท่าน</td>
        <td colspan="2">
          <div class="field">
            <div class="control">
              <div class="select">
                <select data-bind="value: hcare_20">
                  <option>โปรดเลือกคะแนน</option>
                  <option>น้อยที่สุด</option>
                  <option>น้อย</option>
                  <option>ปานกลาง</option>
                  <option>มาก</option>
                  <option>มากที่สุด</option>
                </select>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>21.</td>
        <td>ท่านมีความเชื่อมั่นในระบบบริการส่งดูแลต่อเนื่องในชุมชนของทีมเจ้าหน้าที่/ต่อโรงพยาบาล</td>
        <td colspan="2">
          <div class="field">
            <div class="control">
              <div class="select">
                <select data-bind="value: hcare_21">
                  <option>โปรดเลือกคะแนน</option>
                  <option>น้อยที่สุด</option>
                  <option>น้อย</option>
                  <option>ปานกลาง</option>
                  <option>มาก</option>
                  <option>มากที่สุด</option>
                </select>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>22.</td>
        <td>ท่านมีความพึงพอใจต่อความรวดเร็วในการที่แพทย์เจ้าหน้าที่มาดูเมื่อ/พยาบาล/ท่านมีปัญหา</td>
        <td colspan="2">
          <div class="field">
            <div class="control">
              <div class="select">
                <select data-bind="value: hcare_22">
                  <option>โปรดเลือกคะแนน</option>
                  <option>น้อยที่สุด</option>
                  <option>น้อย</option>
                  <option>ปานกลาง</option>
                  <option>มาก</option>
                  <option>มากที่สุด</option>
                </select>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>23.</td>
        <td>ท่านมีความพึงพอใจที่เจ้าหน้าที่เอาใจใส่ เป็นกันเองด้วยความสุภาพยิ้มแย้มแจ่มใส</td>
        <td colspan="2">
          <div class="field">
            <div class="control">
              <div class="select">
                <select data-bind="value: hcare_23">
                  <option>โปรดเลือกคะแนน</option>
                  <option>น้อยที่สุด</option>
                  <option>น้อย</option>
                  <option>ปานกลาง</option>
                  <option>มาก</option>
                  <option>มากที่สุด</option>
                </select>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>24.</td>
        <td>ท่านมีความพึงพอใจที่เจ้าหน้าที่ให้คำแนะนำและให้บริการ</td>
        <td colspan="2">
          <div class="field">
            <div class="control">
              <div class="select">
                <select data-bind="value: hcare_24">
                  <option>โปรดเลือกคะแนน</option>
                  <option>น้อยที่สุด</option>
                  <option>น้อย</option>
                  <option>ปานกลาง</option>
                  <option>มาก</option>
                  <option>มากที่สุด</option>
                </select>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>25.</td>
        <td>ท่านมีความพึงพอใจที่รพ.ให้ท่านมีส่วนร่วมในการตัดสินใจในการรักษาพยาบาล</td>
        <td colspan="2">
          <div class="field">
            <div class="control">
              <div class="select">
                <select data-bind="value: hcare_25">
                  <option>โปรดเลือกคะแนน</option>
                  <option>น้อยที่สุด</option>
                  <option>น้อย</option>
                  <option>ปานกลาง</option>
                  <option>มาก</option>
                  <option>มากที่สุด</option>
                </select>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>26.</td>
        <td>ท่านมีความพึงพอใจที่ทางรพ.มีช่องทางให้แสดงความคิดเห็นเพื่อปรับปรุงการบริการ</td>
        <td colspan="2">
          <div class="field">
            <div class="control">
              <div class="select">
                <select data-bind="value: hcare_26">
                  <option>โปรดเลือกคะแนน</option>
                  <option>น้อยที่สุด</option>
                  <option>น้อย</option>
                  <option>ปานกลาง</option>
                  <option>มาก</option>
                  <option>มากที่สุด</option>
                </select>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>27.</td>
        <td>ท่านมีความพึงพอใจต่อการบริการโดยรวมทุกด้าน</td>
        <td colspan="2">
          <div class="field">
            <div class="control">
              <div class="select">
                <select data-bind="value: hcare_27">
                  <option>โปรดเลือกคะแนน</option>
                  <option>น้อยที่สุด</option>
                  <option>น้อย</option>
                  <option>ปานกลาง</option>
                  <option>มาก</option>
                  <option>มากที่สุด</option>
                </select>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>28.</td>
        <td>ท่านมีความพึงพอใจต่อความสะดวกของการติดต่อขอรับบริการของโรงพยาบาล</td>
        <td colspan="2">
          <div class="field">
            <div class="control">
              <div class="select">
                <select data-bind="value: hcare_28">
                  <option>โปรดเลือกคะแนน</option>
                  <option>น้อยที่สุด</option>
                  <option>น้อย</option>
                  <option>ปานกลาง</option>
                  <option>มาก</option>
                  <option>มากที่สุด</option>
                </select>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>29.</td>
        <td>ท่านมีความพึงพอใจต่อความสะดวกในระบบการค้นทะเบียนประวัติ การตรวจรักษาและให้บริการ รวมทั้งการประสานงานของเจ้าหน้าที่แต่ละแผนก</td>
        <td colspan="2">
          <div class="field">
            <div class="control">
              <div class="select">
                <select data-bind="value: hcare_29">
                  <option>โปรดเลือกคะแนน</option>
                  <option>น้อยที่สุด</option>
                  <option>น้อย</option>
                  <option>ปานกลาง</option>
                  <option>มาก</option>
                  <option>มากที่สุด</option>
                </select>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>30.</td>
        <td>ท่านมีความพึงพอใจต่อการจัดลำดับและการให้บริการเป็นไปตามขั้นตอน สะดวกรวดเร็ว</td>
        <td colspan="2">
          <div class="field">
            <div class="control">
              <div class="select">
                <select data-bind="value: hcare_30">
                  <option>โปรดเลือกคะแนน</option>
                  <option>น้อยที่สุด</option>
                  <option>น้อย</option>
                  <option>ปานกลาง</option>
                  <option>มาก</option>
                  <option>มากที่สุด</option>
                </select>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>31.</td>
        <td>ท่านมีความพึงพอใจที่โรงพยาบาลมีป้ายบอกจุดให้บริการอยู่ในจุดที่ชัดเจน</td>
        <td colspan="2">
          <div class="field">
            <div class="control">
              <div class="select">
                <select data-bind="value: hcare_31">
                  <option>โปรดเลือกคะแนน</option>
                  <option>น้อยที่สุด</option>
                  <option>น้อย</option>
                  <option>ปานกลาง</option>
                  <option>มาก</option>
                  <option>มากที่สุด</option>
                </select>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>32.</td>
        <td>ท่านมีความพึงใจที่ทางรพ.จัดสิ่งอำนวยความสะดวกสำหรับผู้ป่วย เช่นรถเข็น</td>
        <td colspan="2">
          <div class="field">
            <div class="control">
              <div class="select">
                <select data-bind="value: hcare_32">
                  <option>โปรดเลือกคะแนน</option>
                  <option>น้อยที่สุด</option>
                  <option>น้อย</option>
                  <option>ปานกลาง</option>
                  <option>มาก</option>
                  <option>มากที่สุด</option>
                </select>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>33.</td>
        <td>ท่านมีความพึงพอใจต่อสิ่งแวดล้อมรพ. เช่น ที่นั่งพักขณะรอรับการตรวจเพียงพอ ความสะอาดห้องน้ำ ราวจับเหมาะสมเพียงพอ</td>
        <td colspan="2">
          <div class="field">
            <div class="control">
              <div class="select">
                <select data-bind="value: hcare_33">
                  <option>โปรดเลือกคะแนน</option>
                  <option>น้อยที่สุด</option>
                  <option>น้อย</option>
                  <option>ปานกลาง</option>
                  <option>มาก</option>
                  <option>มากที่สุด</option>
                </select>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>34.</td>
        <td>ท่านมีความพึงพอใจต่อสถานที่ตั้งของโรงพยาบาลในชุมชน ที่อยู่ในจุดที่เข้าถึงการบริการง่ายและสะดวก</td>
        <td colspan="2">
          <div class="field">
            <div class="control">
              <div class="select">
                <select data-bind="value: hcare_34">
                  <option>โปรดเลือกคะแนน</option>
                  <option>น้อยที่สุด</option>
                  <option>น้อย</option>
                  <option>ปานกลาง</option>
                  <option>มาก</option>
                  <option>มากที่สุด</option>
                </select>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div class="tabs is-fullwidth is-toggle is-toggle-rounded">
    <ul>
      <li>
        <a data-bind="page-href: '../nursingcare'">
          <span class="icon">
              <i class="fa fa-arrow-circle-left"></i>
          </span>
          การประเมินการรักษาที่บ้าน&nbsp;
        </a>
      </li>
      <li>
        <a>
          บันทึก&nbsp;
          <span class="icon">
              <i class="fa fa-save"></i>
          </span>
        </a>
      </li>
      <li>
        <a data-bind="page-href: '../environment'">
          แบบประเมินสิ่งแวดล้อมฯ&nbsp;
          <span class="icon">
              <i class="fa fa-arrow-circle-right"></i>
          </span>
        </a>
      </li>
    </ul>
  </div> <!-- tabs -->
</div> <!-- page -->
