<div data-bind="page: {id: 'hospital', afterShow: function() { currPageId('hospital'); }}">
  <div class="box">
    <h1 class="label is-size-5">สถานบริการสุขภาพ <span data-bind="text: hospital"></span> </h1>
    <div class="field has-addons">
      <div class="control">
        <input class="input" data-bind="textInput: hospital"
               type="text" placeholder="ค้นหาชื่อสถานพยาบาล">
      </div>
      <div class="control">
        <a class="button is-info">
          Search
        </a>
      </div>
    </div>
    <ul data-bind="foreach: filteredHospitals">
      <li>
        <a href="#!" data-bind="click: vm.selectHospital.bind($data)">
          <span data-bind="text: $data.unit_fullname + ' จังหวัด ' + $data.province_name"></span>
        </a></li>
    </ul>
    <div data-bind="if: selectedHospital()">
      <table class="table">
        <tr>
          <td><span data-bind="text: selectedHospital().unit_fullname"></span></td>
          <td><span data-bind="text: 'อำเภอ ' + selectedHospital().district_name"></span></td>
          <td><span data-bind="text: 'จังหวัด ' + selectedHospital().province_name"></span></td>
          <td><span data-bind="text: 'รหัส ' + selectedHospital().unit_id_short"></span></td>
        </tr>
      </table>
    </div>
    <br><hr>
    <div class="field">
      <label class="label is-size-5">ผู้เก็บข้อมูล</label>
      <div class="control has-icons-left">
        <input class="input is-danger" type="text"
          data-bind="value: surveyorName" placeholder="ชื่อ นามสกุล">
        <span class="icon is-small is-left">
          <i class="fa fa-user"></i>
        </span>
      </div>
      <p class="help is-danger">Required</p>
    </div>
    <div class="field">
      <div class="control has-icons-left">
        <input class="input" type="text" placeholder="ตำแหน่ง"
          data-bind="value: surveyorPosition">
        <span class="icon is-small is-left">
          <i class="fa fa-star"></i>
        </span>
      </div>
    </div>
    <div class="field">
      <div class="control has-icons-left">
        <input class="input" type="text" placeholder="โทรศัพท์"
          data-bind="value: surveyorTel">
        <span class="icon is-small is-left">
          <i class="fa fa-phone"></i>
        </span>
      </div>
    </div>
    <div class="field">
      <div class="control has-icons-left">
        <input class="input" type="text" placeholder="อีเมล"
          data-bind="value: surveyorEmail">
        <span class="icon is-small is-left">
          <i class="fa fa-envelope"></i>
        </span>
      </div>
    </div>
  </div>
  <div class="tabs is-fullwidth is-toggle is-toggle-rounded">
    <ul>
      <li>
        <a>
          หน้าแรก&nbsp;
          <span class="icon">
            <i class="fa fa-arrow-circle-left"></i>
          </span>
        </a>
      </li>
      <li>
        <a data-bind="page-href: '../patientinfo'">
          ข้อมูลทั่วไป (ผู้ป่วยและญาติ/ผู้ดูแล)&nbsp;
          <span class="icon">
            <i class="fa fa-arrow-circle-right"></i>
          </span>
        </a>
      </li>
    </ul>
  </div> <!-- tabs -->
</div> <!-- hospital page -->
