<!doctype html>
    <html>
        <head>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
        </head>
        <body>
            <section class="hero is-info is-bold">
                <div class="hero-body">
                    <div class="container">
                        <h2 class="title is-size-4 has-text-centered"><strong>ระบบบันทึกข้อมูลออนไลน์ (Online Case Report Form)</strong></h2>
                        <h2 class="subtitle has-text-centered">
                            โครงการวิจัยเรื่อง การศึกษาติดตามประเมินผลการรักษาผู้ป่วยสูงอายุภาวะสมองเสื่อมในสถานบริการและที่บ้าน
                        </h2>
                    </div>
                </div>
            </section>
            <section class="section">
                <div class="columns">
                    <div class="column is-one-quarter">
                        <aside class="menu">
                            <p class="menu-label">Menu</p>
                            <ul class="menu-list">
                                <li><a class="is-active" data-bind="page-href:'start'">หน้าแรก</a></li>
                                <li><a>แบบประเมินผลการดูแลรักษาผู้ป่วยสูงอายุสมองเสื่อมที่บ้าน</a>
                                    <ul class="menu-list">
                                        <li><a data-bind="page-href:'hospital'">ข้อมูลสถานบริการ</a></li>
                                        <li><a data-bind="page-href:'settings'">ข้อมูลผู้ป่วย</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </aside>
                    </div>
                    <div class="column">
                        <div data-bind="page: {id: 'settings'}">
                            <h2>Settings</h2>
                            <p>The default browser is currently Google chrome.</p>
                        </div>
                        <div data-bind="page: {id: 'hospital'}">
                            <div class="box">
                                <h2 class="subtitle">ค้นหาสถานพยาบาล</h2>
                                <div class="field has-addons">
                                    <div class="control">
                                        <input class="input" data-bind="textInput: hospital"
                                            type="text" placeholder="ค้นหาชื่อสถานพยาบาล">
                                    </div>
                                    <div class="control">
                                        <a class="button is-info">
                                            Search
                                        </a>
                                    </div>
                                </div>
                                <ul data-bind="foreach: hospitals">
                                    <li><span data-bind="text: $data.name"></span></li>
                                </ul>
                            </div>
                        </div>
                        <div data-bind="page: {id: 'start'}">
                            <article class="message is-info">
                                <div class="message-body">
                                    <strong>ยินดีต้อนรับสู่ระบบบันทึกข้อมูลวิจัยออนไลน์ ระบบประกอบไปด้วย</strong>
                                    <div class="content">
                                        <ul>
                                            <li>แบบประเมินการรักษาผู้ป่วยผู้สูงอายุสมองเสื่อมที่บ้าน
                                                <ul>
                                                    <li>ข้อมูลทั่วไปของสถานพยาบาล</li>
                                                    <li>ข้อมูลทั่วไปของญาติหรือผู้ดูแล</li>
                                                    <li>แบบติดตามประเมินผลการรักษา</li>
                                                    <li>แบบประเมินสิ่งแวดล้อม</li>
                                                    <li>แบบบันทึกการตรวจทางห้องปฏิบัติการ</li>
                                                    <li></li>
                                                </ul>
                                            </li>
                                            <li>แบบประเมินภาวะสุขภาพ 4 ด้าน
                                                <ul>
                                                    <li>แบบประเมินความสามารถในการทำกิจวัตรประจำวัน (ADL)</li>
                                                    <li>แบบประเมินภาวะซึมเศร้าสำหรับผู้สูงอายุไทย (TGDS)</li>
                                                    <li>แบบประเมินภาวะซึมเศร้าของญาติ (2Q)</li>
                                                    <li>แบบทดสอบสภาพสมองเสื่อมเบื้องต้นฉบับภาษาไทย (MMSE - Thai 2002)</li>
                                                    <li>การประเมินระดับความปวด (Pain Assessment)</li>
                                                    <li>แบบประเมินภาวะโภชนาการ (MNA: Mini Nutritional Assessment)</li>
                                                    <li>แบบประเมินทัศนคติและความรู้เกี่ยวกับภาวะสมองเสื่อมของญาติ</li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div> <!-- column -->
                </div>
            </section>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>
        <script src="{{ url_for('static', filename='js/knockout.mapping.js') }}"></script>
        <script src="{{ url_for('static', filename='js/pager.js') }}"></script>
        <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    </body>
</html>