<!doctype html>
    <html>
        <head>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
        </head>
        <body>
            <section class="hero is-info is-bold">
                <div class="hero-body">
                    <div class="container">
                        <h2 class="title is-size-4 has-text-centered"><strong>ระบบบันทึกข้อมูลออนไลน์ (Online Case Report Form)</strong></h2>
                        <h2 class="subtitle has-text-centered">
                            โครงการวิจัยเรื่อง การศึกษาติดตามประเมินผลการรักษาผู้ป่วยสูงอายุภาวะสมองเสื่อมในสถานบริการและที่บ้าน
                        </h2>
                    </div>
                </div>
            </section>
            <section class="section">
                <div class="columns">
                    <div class="column is-one-quarter">
                        <aside class="menu">
                            <p class="menu-label">Menu</p>
                            <ul class="menu-list">
                                <li><a class="is-active" data-bind="page-href:'start'">หน้าแรก</a></li>
                                <li><a>ข้อมูลทั่วไปของสถานบริการทางสุขภาพ</a>
                                    <ul class="menu-list">
                                        <li><a data-bind="page-href:'hospital'">ข้อมูลทั่วไปของสถานบริการสุขภาพ</a></li>
                                        <li><a data-bind="page-href:'patientinfo'">ข้อมูลทั่วไป (ผู้ป่วยและญาติ/ผู้ดูแล)</a></li>
                                    </ul>
                                </li>
                                <li><a data-bind="page-href:'nursingcare'">การประเมินผลการรักษาผู้ป่วยสูงอายุสมองเสื่อมที่บ้าน</a></li>
                                <li><a data-bind="page-href:'healthcare'">การเข้าถึงระบบบริการสุขภาพ</a></li>
                                <li><a data-bind="page-href:'environment'">แบบประเมินสิ่งแวดล้อมฯ</a></li>
                            </ul>
                        </aside>
                    </div>
                    <div class="column">
                      {% include "main/hospital.html" %}
                      {% include "main/mainpage.html" %}
                      {% include "main/patientinfo.html" %}
                      {% include "main/nursingcare.html" %}
                      {% include "main/healthcare.html" %}
                      {% include "main/environment.html" %}
                    </div> <!-- column -->
                </div>
            </section>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>
        <script src="{{ url_for('static', filename='js/knockout.mapping.js') }}"></script>
        <script src="{{ url_for('static', filename='js/pager.js') }}"></script>
        <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    </body>
</html>