<div data-bind="page: {id: 'lab', afterShow: function() { currPageId('lab'); }}">
  <div class="box">
    <h1 class="title is-size-5">การดูแลด้านการพยาบาล</h1>
    <table class="table is-striped">
      <thead>
        <tr>
          <th>การตรวจ</th>
          <th>การประเมิน</th>
          <th>ผลการตรวจ</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>CBC & peripheral blood smear</td>
          <td>
            <div class="field">
              <div class="control">
                <ul>
                  <li>
                    <label class="radio">
                      <input type="radio" data-bind="checked: lab_1" name="lab_1" value="yes">
                      มี
                    </label>
                  </li>
                  <li>
                    <label class="radio">
                      <input type="radio" data-bind="checked: lab_1" name="lab_1" value="no">
                      ไม่มี
                    </label>
                  </li>
                </ul>
              </div>
            </div>
          </td>
          <td>
            <div class="field">
              <div class="control">
                <input type="text" class="input" data-bind="value: lab_1_res">
              </div>
            </div>
          </td>
          <td>
            <div class="field is-grouped">
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_1_1">
                <p class="help">visit 1</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_1_2">
                <p class="help">visit 2</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_1_3">
                <p class="help">visit 3</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_1_4">
                <p class="help">visit 4</p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>Fasting plasma glucose</td>
          <td>
            <div class="field">
              <div class="control">
                <ul>
                  <li>
                    <label class="radio">
                      <input type="radio" data-bind="checked: lab_2" name="lab_2" value="yes">
                      มี
                    </label>
                  </li>
                  <li>
                    <label class="radio">
                      <input type="radio" data-bind="checked: lab_2" name="lab_2" value="no">
                      ไม่มี
                    </label>
                  </li>
                </ul>
              </div>
            </div>
          </td>
          <td>
            <div class="field">
              <div class="control">
                <input type="text" class="input" data-bind="value: lab_2_res">
              </div>
            </div>
          </td>
          <td>
            <div class="field is-grouped">
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_2_1">
                <p class="help">visit 1</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_2_2">
                <p class="help">visit 2</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_2_3">
                <p class="help">visit 3</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_2_4">
                <p class="help">visit 4</p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>HbA1C</td>
          <td>
            <div class="field">
              <div class="control">
                <ul>
                  <li>
                    <label class="radio">
                      <input type="radio" data-bind="checked: lab_3" name="lab_3" value="yes">
                      มี
                    </label>
                  </li>
                  <li>
                    <label class="radio">
                      <input type="radio" data-bind="checked: lab_3" name="lab_3" value="no">
                      ไม่มี
                    </label>
                  </li>
                </ul>
              </div>
            </div>
          </td>
          <td>
            <div class="field">
              <div class="control">
                <input type="text" class="input" data-bind="value: lab_3_res">
              </div>
            </div>
          </td>
          <td>
            <div class="field is-grouped">
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_3_1">
                <p class="help">visit 1</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_3_2">
                <p class="help">visit 2</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_3_3">
                <p class="help">visit 3</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_3_4">
                <p class="help">visit 4</p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>Hemoglobin</td>
          <td>
            <div class="field">
              <div class="control">
                <ul>
                  <li>
                    <label class="radio">
                      <input type="radio" data-bind="checked: lab_4" name="lab_4" value="yes">
                      มี
                    </label>
                  </li>
                  <li>
                    <label class="radio">
                      <input type="radio" data-bind="checked: lab_4" name="lab_4" value="no">
                      ไม่มี
                    </label>
                  </li>
                </ul>
              </div>
            </div>
          </td>
          <td>
            <div class="field">
              <div class="control">
                <input type="text" class="input" data-bind="value: lab_4_res">
              </div>
            </div>
          </td>
          <td>
            <div class="field is-grouped">
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_4_1">
                <p class="help">visit 1</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_4_2">
                <p class="help">visit 2</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_4_3">
                <p class="help">visit 3</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_4_4">
                <p class="help">visit 4</p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>Cholesterol</td>
          <td>
            <div class="field">
              <div class="control">
                <ul>
                  <li>
                    <label class="radio">
                      <input type="radio" data-bind="checked: lab_5" name="lab_5" value="yes">
                      มี
                    </label>
                  </li>
                  <li>
                    <label class="radio">
                      <input type="radio" data-bind="checked: lab_5" name="lab_5" value="no">
                      ไม่มี
                    </label>
                  </li>
                </ul>
              </div>
            </div>
          </td>
          <td>
            <div class="field">
              <div class="control">
                <input type="text" class="input" data-bind="value: lab_5_res">
              </div>
            </div>
          </td>
          <td>
            <div class="field is-grouped">
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_5_1">
                <p class="help">visit 1</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_5_2">
                <p class="help">visit 2</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_5_3">
                <p class="help">visit 3</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_5_4">
                <p class="help">visit 4</p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>Na</td>
          <td>
            <div class="field">
              <div class="control">
                <ul>
                  <li>
                    <label class="radio">
                      <input type="radio" data-bind="checked: lab_6" name="lab_6" value="yes">
                      มี
                    </label>
                  </li>
                  <li>
                    <label class="radio">
                      <input type="radio" data-bind="checked: lab_6" name="lab_6" value="no">
                      ไม่มี
                    </label>
                  </li>
                </ul>
              </div>
            </div>
          </td>
          <td>
            <div class="field">
              <div class="control">
                <input type="text" class="input" data-bind="value: lab_6_res">
              </div>
            </div>
          </td>
          <td>
            <div class="field is-grouped">
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_6_1">
                <p class="help">visit 1</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_6_2">
                <p class="help">visit 2</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_6_3">
                <p class="help">visit 3</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_6_4">
                <p class="help">visit 4</p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>K</td>
          <td>
            <div class="field">
              <div class="control">
                <ul>
                  <li>
                    <label class="radio">
                      <input type="radio" data-bind="checked: lab_7" name="lab_7" value="yes">
                      มี
                    </label>
                  </li>
                  <li>
                    <label class="radio">
                      <input type="radio" data-bind="checked: lab_7" name="lab_7" value="no">
                      ไม่มี
                    </label>
                  </li>
                </ul>
              </div>
            </div>
          </td>
          <td>
            <div class="field">
              <div class="control">
                <input type="text" class="input" data-bind="value: lab_7_res">
              </div>
            </div>
          </td>
          <td>
            <div class="field is-grouped">
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_7_1">
                <p class="help">visit 1</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_7_2">
                <p class="help">visit 2</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_7_3">
                <p class="help">visit 3</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_7_4">
                <p class="help">visit 4</p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>BUN</td>
          <td>
            <div class="field">
              <div class="control">
                <ul>
                  <li>
                    <label class="radio">
                      <input type="radio" data-bind="checked: lab_8" name="lab_8" value="yes">
                      มี
                    </label>
                  </li>
                  <li>
                    <label class="radio">
                      <input type="radio" data-bind="checked: lab_8" name="lab_8" value="no">
                      ไม่มี
                    </label>
                  </li>
                </ul>
              </div>
            </div>
          </td>
          <td>
            <div class="field">
              <div class="control">
                <input type="text" class="input" data-bind="value: lab_8_res">
              </div>
            </div>
          </td>
          <td>
            <div class="field is-grouped">
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_8_1">
                <p class="help">visit 1</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_8_2">
                <p class="help">visit 2</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_8_3">
                <p class="help">visit 3</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_8_4">
                <p class="help">visit 4</p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>Creatinine</td>
          <td>
            <div class="field">
              <div class="control">
                <ul>
                  <li>
                    <label class="radio">
                      <input type="radio" data-bind="checked: lab_9" name="lab_9" value="yes">
                      มี
                    </label>
                  </li>
                  <li>
                    <label class="radio">
                      <input type="radio" data-bind="checked: lab_9" name="lab_9" value="no">
                      ไม่มี
                    </label>
                  </li>
                </ul>
              </div>
            </div>
          </td>
          <td>
            <div class="field">
              <div class="control">
                <input type="text" class="input" data-bind="value: lab_9_res">
              </div>
            </div>
          </td>
          <td>
            <div class="field is-grouped">
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_9_1">
                <p class="help">visit 1</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_9_2">
                <p class="help">visit 2</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_9_3">
                <p class="help">visit 3</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_9_4">
                <p class="help">visit 4</p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>eGFR</td>
          <td>
            <div class="field">
              <div class="control">
                <ul>
                  <li>
                    <label class="radio">
                      <input type="radio" data-bind="checked: lab_10" name="lab_10" value="yes">
                      มี
                    </label>
                  </li>
                  <li>
                    <label class="radio">
                      <input type="radio" data-bind="checked: lab_10" name="lab_10" value="no">
                      ไม่มี
                    </label>
                  </li>
                </ul>
              </div>
            </div>
          </td>
          <td>
            <div class="field">
              <div class="control">
                <input type="text" class="input" data-bind="value: lab_10_res">
              </div>
            </div>
          </td>
          <td>
            <div class="field is-grouped">
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_10_1">
                <p class="help">visit 1</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_10_2">
                <p class="help">visit 2</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_10_3">
                <p class="help">visit 3</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_10_4">
                <p class="help">visit 4</p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>Albumin</td>
          <td>
            <div class="field">
              <div class="control">
                <ul>
                  <li>
                    <label class="radio">
                      <input type="radio" data-bind="checked: lab_11" name="lab_11" value="yes">
                      มี
                    </label>
                  </li>
                  <li>
                    <label class="radio">
                      <input type="radio" data-bind="checked: lab_11" name="lab_11" value="no">
                      ไม่มี
                    </label>
                  </li>
                </ul>
              </div>
            </div>
          </td>
          <td>
            <div class="field">
              <div class="control">
                <input type="text" class="input" data-bind="value: lab_11_res">
              </div>
            </div>
          </td>
          <td>
            <div class="field is-grouped">
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_11_1">
                <p class="help">visit 1</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_11_2">
                <p class="help">visit 2</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_11_3">
                <p class="help">visit 3</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_11_4">
                <p class="help">visit 4</p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>Liver function test อื่นๆ</td>
          <td>
            <div class="field">
              <div class="control">
                <ul>
                  <li>
                    <label class="radio">
                      <input type="radio" data-bind="checked: lab_12" name="lab_12" value="yes">
                      มี
                    </label>
                  </li>
                  <li>
                    <label class="radio">
                      <input type="radio" data-bind="checked: lab_12" name="lab_12" value="no">
                      ไม่มี
                    </label>
                  </li>
                </ul>
              </div>
            </div>
          </td>
          <td>
            <div class="field">
              <div class="control">
                <input type="text" class="input" data-bind="value: lab_12_res">
              </div>
            </div>
          </td>
          <td>
            <div class="field is-grouped">
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_12_1">
                <p class="help">visit 1</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_12_2">
                <p class="help">visit 2</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_12_3">
                <p class="help">visit 3</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_12_4">
                <p class="help">visit 4</p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>Free T4</td>
          <td>
            <div class="field">
              <div class="control">
                <ul>
                  <li>
                    <label class="radio">
                      <input type="radio" data-bind="checked: lab_13" name="lab_13" value="yes">
                      มี
                    </label>
                  </li>
                  <li>
                    <label class="radio">
                      <input type="radio" data-bind="checked: lab_13" name="lab_13" value="no">
                      ไม่มี
                    </label>
                  </li>
                </ul>
              </div>
            </div>
          </td>
          <td>
            <div class="field">
              <div class="control">
                <input type="text" class="input" data-bind="value: lab_13_res">
              </div>
            </div>
          </td>
          <td>
            <div class="field is-grouped">
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_13_1">
                <p class="help">visit 1</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_13_2">
                <p class="help">visit 2</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_13_3">
                <p class="help">visit 3</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_13_4">
                <p class="help">visit 4</p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>TSH</td>
          <td>
            <div class="field">
              <div class="control">
                <ul>
                  <li>
                    <label class="radio">
                      <input type="radio" data-bind="checked: lab_14" name="lab_14" value="yes">
                      มี
                    </label>
                  </li>
                  <li>
                    <label class="radio">
                      <input type="radio" data-bind="checked: lab_14" name="lab_14" value="no">
                      ไม่มี
                    </label>
                  </li>
                </ul>
              </div>
            </div>
          </td>
          <td>
            <div class="field">
              <div class="control">
                <input type="text" class="input" data-bind="value: lab_14_res">
              </div>
            </div>
          </td>
          <td>
            <div class="field is-grouped">
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_14_1">
                <p class="help">visit 1</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_14_2">
                <p class="help">visit 2</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_14_3">
                <p class="help">visit 3</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_14_4">
                <p class="help">visit 4</p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>CT scan or MRI brain</td>
          <td>
            <div class="field">
              <div class="control">
                <ul>
                  <li>
                    <label class="radio">
                      <input type="radio" data-bind="checked: lab_15" name="lab_15" value="yes">
                      มี
                    </label>
                  </li>
                  <li>
                    <label class="radio">
                      <input type="radio" data-bind="checked: lab_15" name="lab_15" value="no">
                      ไม่มี
                    </label>
                  </li>
                </ul>
              </div>
            </div>
          </td>
          <td>
            <div class="field">
              <div class="control">
                <input type="text" class="input" data-bind="value: lab_15_res">
              </div>
            </div>
          </td>
          <td>
            <div class="field is-grouped">
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_15_1">
                <p class="help">visit 1</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_15_2">
                <p class="help">visit 2</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_15_3">
                <p class="help">visit 3</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_15_4">
                <p class="help">visit 4</p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>Calcium</td>
          <td>
            <div class="field">
              <div class="control">
                <ul>
                  <li>
                    <label class="radio">
                      <input type="radio" data-bind="checked: lab_16" name="lab_16" value="yes">
                      มี
                    </label>
                  </li>
                  <li>
                    <label class="radio">
                      <input type="radio" data-bind="checked: lab_16" name="lab_16" value="no">
                      ไม่มี
                    </label>
                  </li>
                </ul>
              </div>
            </div>
          </td>
          <td>
            <div class="field">
              <div class="control">
                <input type="text" class="input" data-bind="value: lab_16_res">
              </div>
            </div>
          </td>
          <td>
            <div class="field is-grouped">
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_16_1">
                <p class="help">visit 1</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_16_2">
                <p class="help">visit 2</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_16_3">
                <p class="help">visit 3</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_16_4">
                <p class="help">visit 4</p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>Anti HIV</td>
          <td>
            <div class="field">
              <div class="control">
                <ul>
                  <li>
                    <label class="radio">
                      <input type="radio" data-bind="checked: lab_17" name="lab_17" value="yes">
                      มี
                    </label>
                  </li>
                  <li>
                    <label class="radio">
                      <input type="radio" data-bind="checked: lab_17" name="lab_17" value="no">
                      ไม่มี
                    </label>
                  </li>
                </ul>
              </div>
            </div>
          </td>
          <td>
            <div class="field">
              <div class="control">
                <input type="text" class="input" data-bind="value: lab_17_res">
              </div>
            </div>
          </td>
          <td>
            <div class="field is-grouped">
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_17_1">
                <p class="help">visit 1</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_17_2">
                <p class="help">visit 2</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_17_3">
                <p class="help">visit 3</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_17_4">
                <p class="help">visit 4</p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>LP and CSF examination</td>
          <td>
            <div class="field">
              <div class="control">
                <ul>
                  <li>
                    <label class="radio">
                      <input type="radio" data-bind="checked: lab_18" name="lab_18" value="yes">
                      มี
                    </label>
                  </li>
                  <li>
                    <label class="radio">
                      <input type="radio" data-bind="checked: lab_18" name="lab_18" value="no">
                      ไม่มี
                    </label>
                  </li>
                </ul>
              </div>
            </div>
          </td>
          <td>
            <div class="field">
              <div class="control">
                <input type="text" class="input" data-bind="value: lab_18_res">
              </div>
            </div>
          </td>
          <td>
            <div class="field is-grouped">
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_18_1">
                <p class="help">visit 1</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_18_2">
                <p class="help">visit 2</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_18_3">
                <p class="help">visit 3</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_18_4">
                <p class="help">visit 4</p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>Serum vitamin B12</td>
          <td>
            <div class="field">
              <div class="control">
                <ul>
                  <li>
                    <label class="radio">
                      <input type="radio" data-bind="checked: lab_19" name="lab_19" value="yes">
                      มี
                    </label>
                  </li>
                  <li>
                    <label class="radio">
                      <input type="radio" data-bind="checked: lab_19" name="lab_19" value="no">
                      ไม่มี
                    </label>
                  </li>
                </ul>
              </div>
            </div>
          </td>
          <td>
            <div class="field">
              <div class="control">
                <input type="text" class="input" data-bind="value: lab_19_res">
              </div>
            </div>
          </td>
          <td>
            <div class="field is-grouped">
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_19_1">
                <p class="help">visit 1</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_19_2">
                <p class="help">visit 2</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_19_3">
                <p class="help">visit 3</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_19_4">
                <p class="help">visit 4</p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>Folate</td>
          <td>
            <div class="field">
              <div class="control">
                <ul>
                  <li>
                    <label class="radio">
                      <input type="radio" data-bind="checked: lab_20" name="lab_20" value="yes">
                      มี
                    </label>
                  </li>
                  <li>
                    <label class="radio">
                      <input type="radio" data-bind="checked: lab_20" name="lab_20" value="no">
                      ไม่มี
                    </label>
                  </li>
                </ul>
              </div>
            </div>
          </td>
          <td>
            <div class="field">
              <div class="control">
                <input type="text" class="input" data-bind="value: lab_20_res">
              </div>
            </div>
          </td>
          <td>
            <div class="field is-grouped">
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_20_1">
                <p class="help">visit 1</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_20_2">
                <p class="help">visit 2</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_20_3">
                <p class="help">visit 3</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input" data-bind="value: lab_20_4">
                <p class="help">visit 4</p>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="tabs is-fullwidth is-toggle is-toggle-rounded">
    <ul>
      <li>
        <a data-bind="page-href: '../environment'">
          <span class="icon">
            <i class="fa fa-arrow-circle-left"></i>
          </span>
          แบบประเมินสิ่งแวดล้อมฯ&nbsp;
        </a>
      </li>
      <li>
        <a data-bind="click: submitResults">
          บันทึก&nbsp;
          <span class="icon">
              <i class="fa fa-save"></i>
          </span>
        </a>
      </li>
      <li>
        <a data-bind="page-href: '../adl'">
          แบบประเมินความสามาถในการทำกิจวัตรประจำวัน&nbsp;
          <span class="icon">
              <i class="fa fa-arrow-circle-right"></i>
          </span>
        </a>
      </li>
    </ul>
  </div> <!-- tabs -->
</div>
