<div data-bind="page: {id: 'lab'}">
  <div class="box">
    <h1 class="title is-size-5">การดูแลด้านการพยาบาล</h1>
    <table class="table is-striped">
      <thead>
        <tr>
          <th>การตรวจ</th>
          <th>การประเมิน</th>
          <th>ผลการตรวจ</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>CBC & peripheral blood smear</td>
          <td>
            <div class="field">
              <div class="control">
                <label class="radio">
                  <input type="radio">
                  มี
                </label>
                <label class="radio">
                  <input type="radio">
                  ไม่มี
                </label>
              </div>
            </div>
          </td>
          <td>
            <div class="field">
              <div class="control">
                <input type="text" class="input">
              </div>
            </div>
          </td>
          <td>
            <div class="field is-grouped">
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 1</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 2</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 3</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 4</p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>Fasting plasma glucose</td>
          <td>
            <div class="field">
              <div class="control">
                <label class="radio">
                  <input type="radio">
                  มี
                </label>
                <label class="radio">
                  <input type="radio">
                  ไม่มี
                </label>
              </div>
            </div>
          </td>
          <td>
            <div class="field">
              <div class="control">
                <input type="text" class="input">
              </div>
            </div>
          </td>
          <td>
            <div class="field is-grouped">
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 1</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 2</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 3</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 4</p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>HbA1C</td>
          <td>
            <div class="field">
              <div class="control">
                <label class="radio">
                  <input type="radio">
                  มี
                </label>
                <label class="radio">
                  <input type="radio">
                  ไม่มี
                </label>
              </div>
            </div>
          </td>
          <td>
            <div class="field">
              <div class="control">
                <input type="text" class="input">
              </div>
            </div>
          </td>
          <td>
            <div class="field is-grouped">
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 1</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 2</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 3</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 4</p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>Hemoglobin</td>
          <td>
            <div class="field">
              <div class="control">
                <label class="radio">
                  <input type="radio">
                  มี
                </label>
                <label class="radio">
                  <input type="radio">
                  ไม่มี
                </label>
              </div>
            </div>
          </td>
          <td>
            <div class="field">
              <div class="control">
                <input type="text" class="input">
              </div>
            </div>
          </td>
          <td>
            <div class="field is-grouped">
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 1</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 2</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 3</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 4</p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>Cholesterol</td>
          <td>
            <div class="field">
              <div class="control">
                <label class="radio">
                  <input type="radio">
                  มี
                </label>
                <label class="radio">
                  <input type="radio">
                  ไม่มี
                </label>
              </div>
            </div>
          </td>
          <td>
            <div class="field">
              <div class="control">
                <input type="text" class="input">
              </div>
            </div>
          </td>
          <td>
            <div class="field is-grouped">
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 1</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 2</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 3</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 4</p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>Na</td>
          <td>
            <div class="field">
              <div class="control">
                <label class="radio">
                  <input type="radio">
                  มี
                </label>
                <label class="radio">
                  <input type="radio">
                  ไม่มี
                </label>
              </div>
            </div>
          </td>
          <td>
            <div class="field">
              <div class="control">
                <input type="text" class="input">
              </div>
            </div>
          </td>
          <td>
            <div class="field is-grouped">
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 1</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 2</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 3</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 4</p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>K</td>
          <td>
            <div class="field">
              <div class="control">
                <label class="radio">
                  <input type="radio">
                  มี
                </label>
                <label class="radio">
                  <input type="radio">
                  ไม่มี
                </label>
              </div>
            </div>
          </td>
          <td>
            <div class="field">
              <div class="control">
                <input type="text" class="input">
              </div>
            </div>
          </td>
          <td>
            <div class="field is-grouped">
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 1</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 2</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 3</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 4</p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>BUN</td>
          <td>
            <div class="field">
              <div class="control">
                <label class="radio">
                  <input type="radio">
                  มี
                </label>
                <label class="radio">
                  <input type="radio">
                  ไม่มี
                </label>
              </div>
            </div>
          </td>
          <td>
            <div class="field">
              <div class="control">
                <input type="text" class="input">
              </div>
            </div>
          </td>
          <td>
            <div class="field is-grouped">
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 1</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 2</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 3</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 4</p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>Creatinine</td>
          <td>
            <div class="field">
              <div class="control">
                <label class="radio">
                  <input type="radio">
                  มี
                </label>
                <label class="radio">
                  <input type="radio">
                  ไม่มี
                </label>
              </div>
            </div>
          </td>
          <td>
            <div class="field">
              <div class="control">
                <input type="text" class="input">
              </div>
            </div>
          </td>
          <td>
            <div class="field is-grouped">
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 1</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 2</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 3</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 4</p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>eGFR</td>
          <td>
            <div class="field">
              <div class="control">
                <label class="radio">
                  <input type="radio">
                  มี
                </label>
                <label class="radio">
                  <input type="radio">
                  ไม่มี
                </label>
              </div>
            </div>
          </td>
          <td>
            <div class="field">
              <div class="control">
                <input type="text" class="input">
              </div>
            </div>
          </td>
          <td>
            <div class="field is-grouped">
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 1</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 2</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 3</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 4</p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>Albumin</td>
          <td>
            <div class="field">
              <div class="control">
                <label class="radio">
                  <input type="radio">
                  มี
                </label>
                <label class="radio">
                  <input type="radio">
                  ไม่มี
                </label>
              </div>
            </div>
          </td>
          <td>
            <div class="field">
              <div class="control">
                <input type="text" class="input">
              </div>
            </div>
          </td>
          <td>
            <div class="field is-grouped">
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 1</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 2</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 3</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 4</p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>Liver function test อื่นๆ</td>
          <td>
            <div class="field">
              <div class="control">
                <label class="radio">
                  <input type="radio">
                  มี
                </label>
                <label class="radio">
                  <input type="radio">
                  ไม่มี
                </label>
              </div>
            </div>
          </td>
          <td>
            <div class="field">
              <div class="control">
                <input type="text" class="input">
              </div>
            </div>
          </td>
          <td>
            <div class="field is-grouped">
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 1</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 2</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 3</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 4</p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>Free T4</td>
          <td>
            <div class="field">
              <div class="control">
                <label class="radio">
                  <input type="radio">
                  มี
                </label>
                <label class="radio">
                  <input type="radio">
                  ไม่มี
                </label>
              </div>
            </div>
          </td>
          <td>
            <div class="field">
              <div class="control">
                <input type="text" class="input">
              </div>
            </div>
          </td>
          <td>
            <div class="field is-grouped">
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 1</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 2</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 3</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 4</p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>TSH</td>
          <td>
            <div class="field">
              <div class="control">
                <label class="radio">
                  <input type="radio">
                  มี
                </label>
                <label class="radio">
                  <input type="radio">
                  ไม่มี
                </label>
              </div>
            </div>
          </td>
          <td>
            <div class="field">
              <div class="control">
                <input type="text" class="input">
              </div>
            </div>
          </td>
          <td>
            <div class="field is-grouped">
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 1</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 2</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 3</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 4</p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>CT scan or MRI brain</td>
          <td>
            <div class="field">
              <div class="control">
                <label class="radio">
                  <input type="radio">
                  มี
                </label>
                <label class="radio">
                  <input type="radio">
                  ไม่มี
                </label>
              </div>
            </div>
          </td>
          <td>
            <div class="field">
              <div class="control">
                <input type="text" class="input">
              </div>
            </div>
          </td>
          <td>
            <div class="field is-grouped">
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 1</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 2</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 3</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 4</p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>Calcium</td>
          <td>
            <div class="field">
              <div class="control">
                <label class="radio">
                  <input type="radio">
                  มี
                </label>
                <label class="radio">
                  <input type="radio">
                  ไม่มี
                </label>
              </div>
            </div>
          </td>
          <td>
            <div class="field">
              <div class="control">
                <input type="text" class="input">
              </div>
            </div>
          </td>
          <td>
            <div class="field is-grouped">
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 1</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 2</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 3</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 4</p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>Anti HIV</td>
          <td>
            <div class="field">
              <div class="control">
                <label class="radio">
                  <input type="radio">
                  มี
                </label>
                <label class="radio">
                  <input type="radio">
                  ไม่มี
                </label>
              </div>
            </div>
          </td>
          <td>
            <div class="field">
              <div class="control">
                <input type="text" class="input">
              </div>
            </div>
          </td>
          <td>
            <div class="field is-grouped">
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 1</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 2</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 3</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 4</p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>LP and CSF examination</td>
          <td>
            <div class="field">
              <div class="control">
                <label class="radio">
                  <input type="radio">
                  มี
                </label>
                <label class="radio">
                  <input type="radio">
                  ไม่มี
                </label>
              </div>
            </div>
          </td>
          <td>
            <div class="field">
              <div class="control">
                <input type="text" class="input">
              </div>
            </div>
          </td>
          <td>
            <div class="field is-grouped">
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 1</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 2</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 3</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 4</p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>Serum vitamin B12</td>
          <td>
            <div class="field">
              <div class="control">
                <label class="radio">
                  <input type="radio">
                  มี
                </label>
                <label class="radio">
                  <input type="radio">
                  ไม่มี
                </label>
              </div>
            </div>
          </td>
          <td>
            <div class="field">
              <div class="control">
                <input type="text" class="input">
              </div>
            </div>
          </td>
          <td>
            <div class="field is-grouped">
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 1</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 2</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 3</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 4</p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>Folate</td>
          <td>
            <div class="field">
              <div class="control">
                <label class="radio">
                  <input type="radio">
                  มี
                </label>
                <label class="radio">
                  <input type="radio">
                  ไม่มี
                </label>
              </div>
            </div>
          </td>
          <td>
            <div class="field">
              <div class="control">
                <input type="text" class="input">
              </div>
            </div>
          </td>
          <td>
            <div class="field is-grouped">
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 1</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 2</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 3</p>
              </div>
              <div class="control is-expanded">
                <input type="text" class="input">
                <p class="help">visit 4</p>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="tabs is-fullwidth is-toggle is-toggle-rounded">
    <ul>
      <li>
        <a data-bind="page-href: '../environment'">
          <span class="icon">
            <i class="fa fa-arrow-circle-left"></i>
          </span>
          แบบประเมินสิ่งแวดล้อมฯ&nbsp;
        </a>
      </li>
      <li>
        <a>
          บันทึก&nbsp;
          <span class="icon">
              <i class="fa fa-save"></i>
          </span>
        </a>
      </li>
      <li>
        <a data-bind="page-href: '../healthcare'">
          แบบประเมินความสามาถในการทำกิจวัตรประจำวัน&nbsp;
          <span class="icon">
              <i class="fa fa-arrow-circle-right"></i>
          </span>
        </a>
      </li>
    </ul>
  </div> <!-- tabs -->
</div>
