<div data-bind="page: {id: 'start'}">
  <article class="message is-info">
    <div class="message-body">
      <strong>ยินดีต้อนรับสู่ระบบบันทึกข้อมูลวิจัยออนไลน์ ระบบประกอบไปด้วย</strong>
      <div class="content">
        <ul>
          <li>แบบประเมินการรักษาผู้ป่วยผู้สูงอายุสมองเสื่อมที่บ้าน
            <ul>
              <li>ข้อมูลทั่วไปของสถานพยาบาล</li>
              <li>ข้อมูลทั่วไปของญาติหรือผู้ดูแล</li>
              <li>แบบติดตามประเมินผลการรักษา</li>
              <li>แบบประเมินสิ่งแวดล้อม</li>
              <li>แบบบันทึกการตรวจทางห้องปฏิบัติการ</li>
            </ul>
          </li>
          <li>แบบประเมินภาวะสุขภาพ 4 ด้าน
            <ul>
              <li>แบบประเมินความสามารถในการทำกิจวัตรประจำวัน (ADL)</li>
              <li>แบบประเมินภาวะซึมเศร้าสำหรับผู้สูงอายุไทย (TGDS)</li>
              <li>แบบประเมินภาวะซึมเศร้าของญาติ (2Q)</li>
              <li>แบบทดสอบสภาพสมองเสื่อมเบื้องต้นฉบับภาษาไทย (MMSE - Thai 2002)</li>
              <li>การประเมินระดับความปวด (Pain Assessment)</li>
              <li>แบบประเมินภาวะโภชนาการ (MNA: Mini Nutritional Assessment)</li>
              <li>แบบประเมินทัศนคติและความรู้เกี่ยวกับภาวะสมองเสื่อมของญาติ</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </article>
  <div class="tabs is-fullwidth is-toggle is-toggle-rounded">
    <ul>
      <li>
        <a data-bind="page-href: '../hospital'">
          เริ่ม&nbsp;
          <span class="icon">
              <i class="fa fa-arrow-circle-right"></i>
          </span>
        </a>
      </li>
    </ul>
  </div> <!-- tabs -->
</div>
