<h1 class="title is-size-5">การดูแลด้านเวชศาสตร์ฟื้นฟู</h1>
<table class="table is-striped">
  <thead>
  <tr>
    <th>ข้อ</th>
    <th>กิจกรรม</th>
    <th>คำตอบ</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>15.</td>
    <td>กายภาพบำบัด</td>
    <td>
      <ol>
        <li>ผู้ป่วยสามารถทำกายภาพบำบัดได้เอง</li>
        <li>ญาติ/ผู้ดูแล เป็นผู้ดูแลการทำกายภาพบำบัด</li>
        <li>ไม่มีการดูแลการทำกายภาพบำบัด</li>
      </ol>
    </td>
    <td>
      <div class="field is-grouped">
        <div class="control is-expanded">
          <input class="input" type="number" min="1" max="3">
          <p class="help">visit 1</p>
        </div>
        <div class="control is-expanded">
          <input class="input" type="number" min="1" max="3">
          <p class="help">visit 2</p>
        </div>
        <div class="control is-expanded">
          <input class="input" type="number" min="1" max="3">
          <p class="help">visit 3</p>
        </div>
        <div class="control is-expanded">
          <input class="input" type="number" min="1" max="3">
          <p class="help">visit 4</p>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td>16.</td>
    <td>กิจกรรมบำบัด<br>(ในกรณีที่มีนักกิจกรรมบำบัด)</td>
    <td>
      <ol>
        <li>ผู้ป่วยสามารถทำกิจกรรมบำบัดได้เอง</li>
        <li>ญาติ/ผู้ดูแล เป็นผู้ดูแลการทำกิจกรรมบำบัด</li>
        <li>ไม่มีการดูแลการทำกิจกรรมบำบัด</li>
      </ol>
    </td>
    <td>
      <div class="field is-grouped">
        <div class="control is-expanded">
          <input class="input" type="number" min="1" max="3">
          <p class="help">visit 1</p>
        </div>
        <div class="control is-expanded">
          <input class="input" type="number" min="1" max="3">
          <p class="help">visit 2</p>
        </div>
        <div class="control is-expanded">
          <input class="input" type="number" min="1" max="3">
          <p class="help">visit 3</p>
        </div>
        <div class="control is-expanded">
          <input class="input" type="number" min="1" max="3">
          <p class="help">visit 4</p>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td>17.</td>
    <td>การถอดและสวมใส่เสื้อผ้า</td>
    <td>
      <ol>
        <li>ผู้ป่วยสามารถทำได้เอง</li>
        <li>ญาติ/ผู้ดูแล เป็นผู้ดูแลในการสวมใส่เสื้อผ้า</li>
        <li>ผู้ป่วยมี severe dementia</li>
      </ol>
    </td>
    <td>
      <div class="field is-grouped">
        <div class="control is-expanded">
          <input class="input" type="number" min="1" max="3">
          <p class="help">visit 1</p>
        </div>
        <div class="control is-expanded">
          <input class="input" type="number" min="1" max="3">
          <p class="help">visit 2</p>
        </div>
        <div class="control is-expanded">
          <input class="input" type="number" min="1" max="3">
          <p class="help">visit 3</p>
        </div>
        <div class="control is-expanded">
          <input class="input" type="number" min="1" max="3">
          <p class="help">visit 4</p>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td>18.</td>
    <td>การจัดท่านอน</td>
    <td>
      <ol>
        <li>ผู้ป่วยสามารถทำได้เอง</li>
        <li>ญาติ/ผู้ดูแล เป็นผู้ดูแลในการจัดท่าการนอน</li>
        <li>ผู้ป่วยมี severe dementia</li>
      </ol>
    </td>
    <td>
      <div class="field is-grouped">
        <div class="control is-expanded">
          <input class="input" type="number" min="1" max="3">
          <p class="help">visit 1</p>
        </div>
        <div class="control is-expanded">
          <input class="input" type="number" min="1" max="3">
          <p class="help">visit 2</p>
        </div>
        <div class="control is-expanded">
          <input class="input" type="number" min="1" max="3">
          <p class="help">visit 3</p>
        </div>
        <div class="control is-expanded">
          <input class="input" type="number" min="1" max="3">
          <p class="help">visit 4</p>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td>19.</td>
    <td>เครื่องช่วยในการเคลื่อนไหว<br>เช่นไม้เท้า walker</td>
    <td>
      <ol>
        <li>ผู้ป่วยสามารถใช้อุปกรณ์ เครื่องช่วยในการเคลื่อนไหวได้เอง</li>
        <li>ญาติ/ผู้ดูแล เป็นผู้ดูแลในการจัดเตรียมอุปกรณ์ เครื่องช่วยการเคลื่อนไหว</li>
        <li>ผู้ป่วยมี severe dementia</li>
      </ol>
    </td>
    <td>
      <div class="field is-grouped">
        <div class="control is-expanded">
          <input class="input" type="number" min="1" max="3">
          <p class="help">visit 1</p>
        </div>
        <div class="control is-expanded">
          <input class="input" type="number" min="1" max="3">
          <p class="help">visit 2</p>
        </div>
        <div class="control is-expanded">
          <input class="input" type="number" min="1" max="3">
          <p class="help">visit 3</p>
        </div>
        <div class="control is-expanded">
          <input class="input" type="number" min="1" max="3">
          <p class="help">visit 4</p>
        </div>
      </div>
    </td>
  </tr>
  </tbody>
</table>
