<div data-bind="page: {id: 'nursingcare', afterShow: function() { currPageId('nursingcare'); }}">
  <div class="tabs is-fullwidth is-toggle is-toggle-rounded">
    <ul>
      <li>
        <a data-bind="page-href: '../patientinfo'">
          <span class="icon">
            <i class="fa fa-arrow-circle-left"></i>
          </span>
          ข้อมูลทั่วไป (ผู้ป่วยและญาติ/ผู้ดูแล)&nbsp;
        </a>
      </li>
      <li>
        <a data-bind="click: submitResults">
          บันทึก&nbsp;
          <span class="icon">
              <i class="fa fa-save"></i>
          </span>
        </a>
      </li>
      <li>
        <a data-bind="page-href: '../healthcare'">
          การเข้าถึงระบบบริการสุขภาพ&nbsp;
          <span class="icon">
              <i class="fa fa-arrow-circle-right"></i>
          </span>
        </a>
      </li>
    </ul>
  </div> <!-- tabs -->
  <div class="box">
    <h1 class="title is-size-5">การดูแลด้านการพยาบาล</h1>
    <table class="table is-narrow">
      <thead>
        <tr>
          <th>ข้อ</th>
          <th>กิจกรรม</th>
          <th>คำตอบ</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <col width="5%">
        <col width="20%">
        <col width="30%">
        <col width="45%">
        <tr>
          <td>1.</td>
          <td>การรับประทานอาหาร</td>
          <td>
            <ol>
              <li>ผู้ป่วยสามารถรับประทานอาหารได้เอง</li>
              <li>ผู้ป่วยต้องมีคนช่วยเหลือบางส่วน</li>
              <li>ผู้ป่วยนอนติดเตียง</li>
            </ol>
          </td>
          <td>
            <div class="field is-grouped">
              <div class="control is-expanded">
                <input class="input" type="number" min="1" max="3" data-bind="value: nursing_1_1">
                <p class="help">visit 1</p>
              </div>
              <div class="control is-expanded">
                <input class="input" type="number" min="1" max="3" data-bind="value: nursing_1_2">
                <p class="help">visit 2</p>
              </div>
              <div class="control is-expanded">
                <input class="input" type="number" min="1" max="3" data-bind="value: nursing_1_3">
                <p class="help">visit 3</p>
              </div>
              <div class="control is-expanded">
                <input class="input" type="number" min="1" max="3" data-bind="value: nursing_1_4">
                <p class="help">visit 4</p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>2.</td>
          <td>การเคลื่อนไหว</td>
          <td>
            <ol>
              <li>ผู้ป่วยเคลื่อนไหวได้เอง</li>
              <li>ผู้ป่วยต้องมัคนช่วยเหลือบางส่วน</li>
              <li>ผู้ป่วยนอนติดเตียง</li>
            </ol>
          </td>
          <td>
            <div class="field is-grouped">
              <div class="control is-expanded">
                <input class="input" type="number" min="1" max="3" data-bind="value: nursing_2_1">
                <p class="help">visit 1</p>
              </div>
              <div class="control is-expanded">
                <input class="input" type="number" min="1" max="3" data-bind="value: nursing_2_2">
                <p class="help">visit 2</p>
              </div>
              <div class="control is-expanded">
                <input class="input" type="number" min="1" max="3" data-bind="value: nursing_2_3">
                <p class="help">visit 3</p>
              </div>
              <div class="control is-expanded">
                <input class="input" type="number" min="1" max="3" data-bind="value: nursing_2_4">
                <p class="help">visit 4</p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>3.</td>
          <td>การป้องกันแผลกดทับ</td>
          <td>
            <ol>
              <li>ผู้ป่วยพลิกตะแคงตัวได้เอง</li>
              <li>ผู้ป่วยไม่ได้รับการพลิกตะแคงตัว</li>
              <li>ญาติ/ผู้ดูแลพลิกตะแคงตัวทุกๆ 2 ชั่วโมง</li>
              <li>ญาติ/ผู้ดูแลพลิกตะแคงตัวแต่ไม่สม่ำเสมอ</li>
            </ol>
          </td>
          <td>
            <div class="field is-grouped">
              <div class="control is-expanded">
                <input class="input" type="number" min="1" max="4" data-bind="value: nursing_3_1">
                <p class="help">visit 1</p>
              </div>
              <div class="control is-expanded">
                <input class="input" type="number" min="1" max="4" data-bind="value: nursing_3_2">
                <p class="help">visit 2</p>
              </div>
              <div class="control is-expanded">
                <input class="input" type="number" min="1" max="4" data-bind="value: nursing_3_3">
                <p class="help">visit 3</p>
              </div>
              <div class="control is-expanded">
                <input class="input" type="number" min="1" max="4" data-bind="value: nursing_3_4">
                <p class="help">visit 4</p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>4.</td>
          <td>การขับถ่าย</td>
          <td>
            <ol>
              <li>ผู้ป่วยขับถ่ายที่ห้องน้ำห้องส้วมได้</li>
              <li>ผู้ป่วยขับถ่ายได้ด้วยตนเองโดยใช้ bed pan บนเตียง</li>
              <li>ญาติ/ผู้ดูแล เป็นผู้ดูแลการใช้ผ้าอ้อมสำเร็จรูป (diaper)</li>
              <li>ญาติ/ผู้ดูแล เป็นผู้ดูแลการใช้แผ่นรองเปื้อนหรืออื่นๆ ที่คล้ายกัน</li>
              <li>ญาติ/ผู้ดูแล เป็นผู้ดูแลสายสวนปัสสาวะ/สวนอุจจาระ</li>
            </ol>
          </td>
          <td>
            <div class="field is-grouped">
              <div class="control is-expanded">
                <input class="input" type="number" min="1" max="5" data-bind="value: nursing_4_1">
                <p class="help">visit 1</p>
              </div>
              <div class="control is-expanded">
                <input class="input" type="number" min="1" max="5" data-bind="value: nursing_4_2">
                <p class="help">visit 2</p>
              </div>
              <div class="control is-expanded">
                <input class="input" type="number" min="1" max="5" data-bind="value: nursing_4_3">
                <p class="help">visit 3</p>
              </div>
              <div class="control is-expanded">
                <input class="input" type="number" min="1" max="5" data-bind="value: nursing_4_4">
                <p class="help">visit 4</p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>5.</td>
          <td>การทำความสะอาดร่างกายของผู้ป่วย</td>
          <td>
            <ol>
              <li>ผู้ป่วยสามารถทำได้เอง</li>
              <li>ญาติ/ผู้ดูแล เป็นผู้ดูแลในการช่วยเตรียมอุปกรณ์<br>และให้ความช่วยเหลือในการทำความสะอาดร่างกาย</li>
              <li>ผู้ป่วยมี severe dementia</li>
            </ol>
          </td>
          <td>
            <div class="field is-grouped">
              <div class="control is-expanded">
                <input class="input" type="number" min="1" max="3" data-bind="value: nursing_5_1">
                <p class="help">visit 1</p>
              </div>
              <div class="control is-expanded">
                <input class="input" type="number" min="1" max="3" data-bind="value: nursing_5_2">
                <p class="help">visit 2</p>
              </div>
              <div class="control is-expanded">
                <input class="input" type="number" min="1" max="3" data-bind="value: nursing_5_3">
                <p class="help">visit 3</p>
              </div>
              <div class="control is-expanded">
                <input class="input" type="number" min="1" max="3" data-bind="value: nursing_5_4">
                <p class="help">visit 4</p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>6.</td>
          <td>การนอนหลับ</td>
          <td>
            <ol>
              <li>ผู้ป่วยเข้านอนหลับได้เอง</li>
              <li>ญาติ/ผู้ดูแล เป้นผู้พาผู้ป่วยเข้านอน</li>
              <li>ผู้ป่วยมี severe dementia</li>
            </ol>
          </td>
          <td>
            <div class="field is-grouped">
              <div class="control is-expanded">
                <input class="input" type="number" min="1" max="3" data-bind="value: nursing_6_1">
                <p class="help">visit 1</p>
              </div>
              <div class="control is-expanded">
                <input class="input" type="number" min="1" max="3" data-bind="value: nursing_6_2">
                <p class="help">visit 2</p>
              </div>
              <div class="control is-expanded">
                <input class="input" type="number" min="1" max="3" data-bind="value: nursing_6_3">
                <p class="help">visit 3</p>
              </div>
              <div class="control is-expanded">
                <input class="input" type="number" min="1" max="3" data-bind="value: nursing_6_4">
                <p class="help">visit 4</p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>7.</td>
          <td>การรับประทานยา</td>
          <td>
            <ol>
              <li>ผู้ป่วยสามารถจัดยารับประทานเองได้</li>
              <li>ญาติ/ผู้ดูแล เป็นผู้เตรียมยาให้ แต่ผู้ป่วยหยิบยารับประทานเอง</li>
              <li>ญาติ/ผู้ดูแล เป็นผู้ดูแลการรับประทานยาของผู้ป่วยทั้งหมด</li>
            </ol>
          </td>
          <td>
            <div class="field is-grouped">
              <div class="control is-expanded">
                <input class="input" type="number" min="1" max="3" data-bind="value: nursing_7_1">
                <p class="help">visit 1</p>
              </div>
              <div class="control is-expanded">
                <input class="input" type="number" min="1" max="3" data-bind="value: nursing_7_2">
                <p class="help">visit 2</p>
              </div>
              <div class="control is-expanded">
                <input class="input" type="number" min="1" max="3" data-bind="value: nursing_7_3">
                <p class="help">visit 3</p>
              </div>
              <div class="control is-expanded">
                <input class="input" type="number" min="1" max="3" data-bind="value: nursing_7_4">
                <p class="help">visit 4</p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>8.</td>
          <td>การจัดเตียงผู้ป่วย</td>
          <td>
            <ol>
              <li>ผู้ป่วยมีห้องแยกเฉพาะ</li>
              <li>ผู้ป่วยอยู่รวมกับสมาชิกคนอื่นๆ</li>
              <li>บริเวณเตียงที่ผู้ป่วยอยู่ สามารถมองเห็นสิ่งแวดล้อมภายนอกบ้านได้</li>
            </ol>
          </td>
          <td>
            <div class="field is-grouped">
              <div class="control is-expanded">
                <input class="input" type="number" min="1" max="3" data-bind="value: nursing_8_1">
                <p class="help">visit 1</p>
              </div>
              <div class="control is-expanded">
                <input class="input" type="number" min="1" max="3" data-bind="value: nursing_8_2">
                <p class="help">visit 2</p>
              </div>
              <div class="control is-expanded">
                <input class="input" type="number" min="1" max="3" data-bind="value: nursing_8_3">
                <p class="help">visit 3</p>
              </div>
              <div class="control is-expanded">
                <input class="input" type="number" min="1" max="3" data-bind="value: nursing_8_4">
                <p class="help">visit 4</p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>9.</td>
          <td>การจัดกิจกรรมระหว่างวัน (ตอบได้มากกว่า 1 ข้อ)</td>
          <td>
            <ol>
              <li>ไม่มีกิจกรรม</li>
              <li>กิจกรรมฟื้นฟูด้านกายภาพบำบัด</li>
              <li>กิจกรรมกระตุ้นความจำ</li>
              <li>กิจกรรมการแพทย์แผนไทย</li>
              <li>อื่นๆ</li>
            </ol>
            <div class="field">
              <div class="control">
                <input type="text" class="input" placeholder="โปรดระบุ"
                  data-bind="value: nursing_9_comment">
              </div>
            </div>
          </td>
          <td>
            <div class="field is-grouped">
              <label class="help">โปรดคั่นคำตอบด้วยเครื่องหมาย ,</label>
              <div class="control is-expanded">
                <input class="input" type="text" data-bind="value: nursing_9_1">
                <p class="help">visit 1</p>
              </div>
              <div class="control is-expanded">
                <input class="input" type="text" data-bind="value: nursing_9_2">
                <p class="help">visit 2</p>
              </div>
              <div class="control is-expanded">
                <input class="input" type="text" data-bind="value: nursing_9_3">
                <p class="help">visit 3</p>
              </div>
              <div class="control is-expanded">
                <input class="input" type="text" data-bind="value: nursing_9_4">
                <p class="help">visit 4</p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>10.</td>
          <td>การสื่อสาร</td>
          <td>
            <ol>
              <li>ผู้ป่วยสมองเสื่อมไม่มีปัญหาการสื่อสารกับผู้อื่น</li>
              <li>ญาติ/ผู้ดูแล ใช้เวลาในการสื่อสารกับผู้ป่วยสมองเสื่อมมากกว่าผู้ป่วยทั่วไป</li>
              <li>ผู้ป่วยมี severe dementia</li>
            </ol>
          </td>
          <td>
            <div class="field is-grouped">
              <div class="control is-expanded">
                <input class="input" type="number" min="1" max="3" data-bind="value: nursing_10_1">
                <p class="help">visit 1</p>
              </div>
              <div class="control is-expanded">
                <input class="input" type="number" min="1" max="3" data-bind="value: nursing_10_2">
                <p class="help">visit 2</p>
              </div>
              <div class="control is-expanded">
                <input class="input" type="number" min="1" max="3" data-bind="value: nursing_10_3">
                <p class="help">visit 3</p>
              </div>
              <div class="control is-expanded">
                <input class="input" type="number" min="1" max="3" data-bind="value: nursing_10_4">
                <p class="help">visit 4</p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>11.</td>
          <td>การเฝ้าระวังความปลอดภัยจากการพลัดหลงออกนอกบ้าน</td>
          <td>
            <ol>
              <li>มี ระบุวิธีการ เช่นแจ้งเพื่อนบ้านให้เฝ้าระวัง</li>
              <li>ป้ายระบุตัวบุคคล</li>
              <li>ไม่มี</li>
            </ol>
            <div class="field">
              <div class="control">
                <input type="text" class="input" placeholder="โปรดระบุ"
                  data-bind="value: nursing_11_comment">
              </div>
            </div>
          </td>
          <td>
            <div class="field is-grouped">
              <div class="control is-expanded">
                <input class="input" type="number" min="1" max="3" data-bind="value: nursing_11_1">
                <p class="help">visit 1</p>
              </div>
              <div class="control is-expanded">
                <input class="input" type="number" min="1" max="3" data-bind="value: nursing_11_2">
                <p class="help">visit 2</p>
              </div>
              <div class="control is-expanded">
                <input class="input" type="number" min="1" max="3" data-bind="value: nursing_11_3">
                <p class="help">visit 3</p>
              </div>
              <div class="control is-expanded">
                <input class="input" type="number" min="1" max="3" data-bind="value: nursing_11_4">
                <p class="help">visit 4</p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>12.</td>
          <td>การเฝ้าระวังการหกล้ม</td>
          <td>
            <ol>
              <li>มี ระบุวิธีการ เช่นการปรับพื้นไม่ให้ลื่น</li>
              <li>การมีราวจับในห้องน้ำ</li>
              <li>ไม่มี</li>
            </ol>
            <div class="field">
              <div class="control">
                <input type="text" class="input" placeholder="โปรดระบุ"
                  data-bind="value: nursing_12_comment">
              </div>
            </div>
          </td>
          <td>
            <div class="field is-grouped">
              <div class="control is-expanded">
                <input class="input" type="number" min="1" max="3" data-bind="value: nursing_12_1">
                <p class="help">visit 1</p>
              </div>
              <div class="control is-expanded">
                <input class="input" type="number" min="1" max="3" data-bind="value: nursing_12_2">
                <p class="help">visit 2</p>
              </div>
              <div class="control is-expanded">
                <input class="input" type="number" min="1" max="3" data-bind="value: nursing_12_3">
                <p class="help">visit 3</p>
              </div>
              <div class="control is-expanded">
                <input class="input" type="number" min="1" max="3" data-bind="value: nursing_12_4">
                <p class="help">visit 4</p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>13.</td>
          <td>การนัดติดตามผลการรักษา</td>
          <td>
            <ol>
              <li>มี ระบุสถานที่ ความถี่</li>
              <li>ไม่มี</li>
            </ol>
            <div class="field">
              <div class="control">
                <input type="text" class="input" placeholder="โปรดระบุ"
                  data-bind="value: nursing_13_comment">
              </div>
            </div>
          </td>
          <td>
            <div class="field is-grouped">
              <div class="control is-expanded">
                <input class="input" type="number" min="1" max="2" data-bind="value: nursing_13_1">
                <p class="help">visit 1</p>
              </div>
              <div class="control is-expanded">
                <input class="input" type="number" min="1" max="2" data-bind="value: nursing_13_2">
                <p class="help">visit 2</p>
              </div>
              <div class="control is-expanded">
                <input class="input" type="number" min="1" max="2" data-bind="value: nursing_13_3">
                <p class="help">visit 3</p>
              </div>
              <div class="control is-expanded">
                <input class="input" type="number" min="1" max="2" data-bind="value: nursing_13_4">
                <p class="help">visit 4</p>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>14.</td>
          <td>การให้คำแนะนำญาติ/ผู้ดูแล</td>
          <td>
            <ol>
              <li>มี ระบุการให้คำแนะนำการส่งเสริมสุขภาพกับผู้ดูแลตนเอง</li>
              <li>ไม่มี</li>
            </ol>
            <div class="field">
              <div class="control">
                <input type="text" class="input" placeholder="โปรดระบุ"
                  data-bind="value: nursing_14_comment">
              </div>
            </div>
          </td>
          <td>
            <div class="field is-grouped">
              <div class="control is-expanded">
                <input class="input" type="number" min="1" max="2" data-bind="value: nursing_14_1">
                <p class="help">visit 1</p>
              </div>
              <div class="control is-expanded">
                <input class="input" type="number" min="1" max="2" data-bind="value: nursing_14_2">
                <p class="help">visit 2</p>
              </div>
              <div class="control is-expanded">
                <input class="input" type="number" min="1" max="2" data-bind="value: nursing_14_3">
                <p class="help">visit 3</p>
              </div>
              <div class="control is-expanded">
                <input class="input" type="number" min="1" max="2" data-bind="value: nursing_14_4">
                <p class="help">visit 4</p>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <progress class="progress is-success" value="85" max="100">85%</progress>
    <br>
    {% include "main/nursingcare-2.html" %}
    <progress class="progress is-success" value="100" max="100">100%</progress>
  </div>
  <div class="tabs is-fullwidth is-toggle is-toggle-rounded">
    <ul>
      <li>
        <a data-bind="page-href: '../patientinfo'">
          <span class="icon">
            <i class="fa fa-arrow-circle-left"></i>
          </span>
          ข้อมูลทั่วไป (ผู้ป่วยและญาติ/ผู้ดูแล)&nbsp;
        </a>
      </li>
      <li>
        <a data-bind="click: submitResults">
          บันทึก&nbsp;
          <span class="icon">
              <i class="fa fa-save"></i>
          </span>
        </a>
      </li>
      <li>
        <a data-bind="page-href: '../healthcare'">
          การเข้าถึงระบบบริการสุขภาพ&nbsp;
          <span class="icon">
              <i class="fa fa-arrow-circle-right"></i>
          </span>
        </a>
      </li>
    </ul>
  </div> <!-- tabs -->
</div> <!-- setting page -->
