<div data-bind="page: {id: 'nursingcare'}">
  <div class="box">
    <p class="label">การดูแลด้านการพยาบาล</p>
  </div>
  <div class="tabs is-fullwidth is-toggle is-toggle-rounded">
    <ul>
      <li>
        <a data-bind="page-href: '../patientinfo'">
          ข้อมูลทั่วไป (ผู้ป่วยและญาติ/ผู้ดูแล)&nbsp;
          <span class="icon">
              <i class="fa fa-arrow-circle-left"></i>
          </span>
        </a>
      </li>
      <li>
        <a>
          บันทึก&nbsp;
          <span class="icon">
              <i class="fa fa-save"></i>
          </span>
        </a>
      </li>
      <li>
        <a data-bind="page-href: '../hospital'">
          การดูแลด้านเวชศาสตร์ฟื้นฟู&nbsp;
          <span class="icon">
              <i class="fa fa-arrow-circle-right"></i>
          </span>
        </a>
      </li>
    </ul>
  </div> <!-- tabs -->
</div> <!-- setting page -->
</div>
