<h2 class="is-size-4"><strong>ส่วนที่ 2</strong> ข้อมูล<strong>ญาติ/ผู้ดูแล</strong> (ผู้ดูแลหลัก)</h2>
<hr>
<div class="field">
  <label class="label">วันที่ทำแบบสอบถาม</label>
  <input class="input" type="date" data-bind="value: surveyDate">
</div>
<br>
<div class="field is-horizontal">
  <div class="field-body">
    <div class="field">
      <div class="control">
        <input type="text" class="input" placeholder="ชื่อ"
          data-bind="value: majorCarerFirstname">
      </div>
    </div>
    <div class="field">
      <div class="control">
        <input type="text" class="input" placeholder="นามสกุล"
          data-bind="value: majorCarerLastname">
      </div>
    </div>
  </div>
</div>
<div class="field">
  <input class="input" type="text" placeholder="เลขที่บัตรประชาชน"
    data-bind="value: majorCarerPID">
</div>
<div class="field is-horizontal">
  <div class="field-body">
    <div class="field">
      <div class="control">
        <input type="text" class="input" placeholder="บ้านเลขที่"
          data-bind="value: majorCarerAddress">
      </div>
    </div>
    <div class="field">
      <div class="control">
        <input type="text" class="input" placeholder="หมู่ที่"
          data-bind="value: majorCarerVillage">
      </div>
    </div>
    <div class="field">
      <div class="control">
        <input type="text" class="input" placeholder="ตำบล"
          data-bind="value: majorCarerSubDistrict">
      </div>
    </div>
  </div>
</div>
<div class="field is-horizontal">
  <div class="field-body">
    <div class="field">
      <div class="control">
        <input type="text" class="input" placeholder="อำเภอ"
          data-bind="value: majorCarerDistrict">
      </div>
    </div>
    <div class="field">
      <div class="control">
        <input type="text" class="input" placeholder="จังหวัด"
          data-bind="value: majorCarerProvince">
      </div>
    </div>
  </div>
</div>
<table class="table is-narrow">
  <thead>
  <tr>
    <th>ข้อ</th>
    <th>คำถาม</th>
    <th>คำตอบ</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <col width="5%">
  <col width="30%">
  <col width="40%">
  <col width="25%">
  <tr>
    <td>1.</td>
    <td>เพศ</td>
    <td colspan="2">
      <div class="field">
        <div class="control">
          <div class="select">
            <select data-bind="value: majorCarerGender">
              <option value="">โปรดระบุ</option>
              <option value="male">ชาย</option>
              <option value="female">หญิง</option>
            </select>
          </div>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td>2.</td>
    <td>อายุ</td>
    <td colspan="2">
      <div class="field">
        <div class="control">
          <input type="number" step="1" placeholder="ปี" class="input"
            data-bind="value: majorCarerAge">
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td>3.</td>
    <td>สถานภาพสมรส</td>
    <td colspan="2">
      <div class="field">
        <div class="control">
          <div class="select">
            <select data-bind="value: majorCarerMarital">
              <option value="">โปรดระบุ</option>
              <option value="1">สมรส/คู่</option>
              <option value="2">หม้าย</option>
              <option value="3">หย่า/แยก</option>
              <option value="4">โสด</option>
            </select>
          </div>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td>4.</td>
    <td>ศาสนา</td>
    <td>
      <div class="field">
        <div class="control">
          <div class="select">
            <select data-bind="value: majorCarerReligion">
              <option value="">โปรดระบุ</option>
              <option value="1">พุทธ</option>
              <option value="2">คริสต์</option>
              <option value="3">อิสลาม</option>
              <option value="4">อื่นๆ</option>
            </select>
          </div>
        </div>
      </div>
    </td>
    <td>
      <div class="field">
        <div class="control">
          <input class="input" type="text"
            data-bind="value: majorCarerReligionOther, enable: majorCarerReligion() === '4'">
          <p class="help">โปรดระบุศาสนา</p>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td>5.</td>
    <td>การศึกษา</td>
    <td colspan="2">
      <div class="field">
        <div class="control">
          <div class="select">
            <select data-bind="value: majorCarerEd">
              <option value="">โปรดระบุ</option>
              <option value="1">ไม่ได้เรียน</option>
              <option value="2">ไม่จบประถมศึกษา</option>
              <option value="3">ประถมศึกษา</option>
              <option value="4">มัธยมศึกษาตอนต้น</option>
              <option value="5">มัธยมศึกษาตอนปลาย / ปวช.</option>
              <option value="6">อนุปริญญา / ปวส.</option>
              <option value="7">ปริญญาตรี</option>
              <option value="8">สูงกว่าปริญญาตรี</option>
            </select>
          </div>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td>6.</td>
    <td>ความเกี่ยวข้องกับผู้ป่วย</td>
    <td>
      <div class="field">
        <div class="control">
          <div class="select">
            <select data-bind="value: majorCarerRelation">
              <option value="">โปรดระบุ</option>
              <option value="1">พ่อ/แม่</option>
              <option value="2">สามี/ภรรยา</option>
              <option value="3">บุตร</option>
              <option value="4">พี่น้อง</option>
              <option value="5">อื่นๆ</option>
            </select>
          </div>
        </div>
      </div>
    </td>
    <td>
      <div class="field">
        <div class="control">
          <input class="input" type="text"
            data-bind="value: majorCarerRelationOther, enable: majorCarerRelation() === '5'">
          <p class="help">โปรดระบุความเกี่ยวข้องอื่นๆ</p>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td>7.</td>
    <td>อาชีพ</td>
    <td>
      <div class="field">
        <div class="control">
          <div class="select">
            <select data-bind="value: majorCarerCareer">
              <option value="">โปรดระบุ</option>
              <option value="1">ไม่ได้ทำงาน/ทำงานบ้าน</option>
              <option value="2">เกษตรกรรม</option>
              <option value="3">รับจ้างแรงงาน/พนักงานบริษัท</option>
              <option value="4">ค้าขาย/ธุรกิจส่วนตัว</option>
              <option value="5">รับราชการ/พนักงานของรัฐ</option>
              <option value="6">พนักงานรัฐวิสาหกิจ</option>
              <option value="7">อื่นๆ</option>
            </select>
          </div>
        </div>
      </div>
    </td>
    <td>
      <div class="field">
        <div class="control">
          <input class="input" type="text"
            data-bind="value: majorCarerCareerOther, enable: majorCarerCareer() === '7'">
          <p class="help">โปรดระบุอาชีพอื่นๆ</p>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td>8.</td>
    <td>รายได้</td>
    <td>
      <div class="field">
        <div class="control">
          <div class="select">
            <select data-bind="value: majorCarerIncome">
              <option value="">โปรดระบุ</option>
              <option value="1">ไม่เพียงพอ/มีหนี้สิน</option>
              <option value="2">ไม่เพียงพอ/ไม่มีหนี้สิน</option>
              <option value="3">พอเพียง ไม่เหลือเก็บ</option>
              <option value="4">พอเพียง เหลือเก็บ</option>
              <option value="5">มั่นคง สามารถซื้อสิ่งของได้ตามต้องการ</option>
            </select>
          </div>
        </div>
      </div>
    </td>
    <td>
      <div class="field has-addons">
        <div class="control">
          <input class="input" type="number" min="0" step="0.1"
            placeholder="เฉลี่ยรายได้ทั้งหมด" data-bind="value: majorCarerAvgIncome">
          <p class="help">ทุกแหล่งที่มาของรายได้</p>
        </div>
        <div class="control">
          <a class="button is-static">บาท</a>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td>9.</td>
    <td>ปัญหาค่าใช้จ่าย</td>
    <td>
      <div class="field">
        <div class="control">
          <div class="select">
            <select data-bind="value: majorCarerIncomeProblem">
              <option value="">โปรดระบุ</option>
              <option value="yes">มี</option>
              <option value="no">ไม่มี</option>
            </select>
          </div>
        </div>
      </div>
    </td>
    <td>
      <div class="field">
        <div class="control">
          <input class="input" type="text" placeholder="รายละเอียด"
            data-bind="value: majorCarerIncomeProblemDetail, enable: majorCarerIncomeProblem() === 'yes'">
          <p class="help">โปรดระบุถ้ามี</p>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td>10.</td>
    <td>โรคประจำตัว</td>
    <td>
      <div class="field">
        <div class="control">
          <div class="select is-multiple">
            <select multiple data-bind="selectedOptions: majorCarerHealthProblems">
              <option selected value="none">ไม่มี</option>
              <option value="1">เบาหวาน</option>
              <option value="2">ความดันโลหิตสูง</option>
              <option value="3">ไขมันในเลือดสูง</option>
              <option value="4">โรคหัวใจ</option>
              <option value="5">อื่นๆ</option>
            </select>
          </div>
          <p class="help">กดปุ่ม Ctrl ค้างไว้เพื่อเลือกมากกว่าหนึ่งรายการ</p>
        </div>
      </div>
    </td>
    <td>
      <div class="field">
        <div class="control">
          <input class="input" type="text" placeholder="รายละเอียด"
            data-bind="value: majorCarerHealthProblemDetail">
          <p class="help">โปรดระบุโรคประจำตัวอื่นๆ</p>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td>11.</td>
    <td>ระยะเวลาในการดูแลผู้ป่วย</td>
    <td colspan="2">
      <div class="field is-grouped">
        <div class="control is-expanded">
          <input type="number" class="input" placeholder="วัน"
            data-bind="value: majorCarerTimeDay">
        </div>
        <div class="control is-expanded">
          <input type="number" class="input" placeholder="เดือน"
            data-bind="value: majorCarerTimeMonth">
        </div>
        <div class="control is-expanded">
          <input type="number" class="input" placeholder="ปี"
            data-bind="value: majorCarerTimeYear">
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td>12.</td>
    <td>เหตุผลในการดูแลผู้ป่วย (ตอบได้มากกว่า 1 ข้อ)</td>
    <td>
      <div class="field">
        <div class="control">
          <div class="select is-multiple">
            <select multiple data-bind="selectedOptions: majorCarerReasons">
              <option selected value="">หน้าที่/ความรับผิดชอบ</option>
              <option value="1">ความรัก/ความผูกพัน</option>
              <option value="2">ไม่มีใครดูแล</option>
              <option value="3">อื่นๆ</option>
            </select>
          </div>
          <p class="help">กดปุ่ม Ctrl ค้างไว้เพื่อเลือกมากกว่าหนึ่งรายการ</p>
        </div>
      </div>
    </td>
    <td>
      <div class="field">
        <div class="control">
          <input class="input" type="text"
            placeholder="รายละเอียด" data-bind="value: majorCarerReasonsOther">
          <p class="help">โปรดระบุเหตุผลอื่นๆ</p>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td>13.</td>
    <td>ภาระหน้าที่อื่นๆนอกเหนือจากการดูแลผู้ป่วย</td>
    <td>
      <div class="field">
        <div class="control">
          <div class="select">
            <select data-bind="value: majorCarerHasBurden">
              <option value="">โปรดระบุ</option>
              <option value="yes">มี</option>
              <option value="no">ไม่มี</option>
            </select>
          </div>
        </div>
      </div>
    </td>
    <td>
      <div class="field">
        <div class="control">
          <input class="input" type="text" placeholder="รายละเอียด"
            data-bind="value: majorCarerBurden, enable: majorCarerHasBurden() === 'yes'">
          <p class="help">โปรดระบุถ้ามี</p>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td>14.</td>
    <td>ผู้ช่วยในการดูแลผู้ป่วย</td>
    <td>
      <div class="field">
        <div class="control">
          <div class="select">
            <select data-bind="value: majorCarerHasAssistant">
              <option value="">โปรดระบุ</option>
              <option value="1">มี</option>
              <option value="2">มี แต่ไม่สม่ำเสมอ</option>
              <option value="3">ไม่มี</option>
            </select>
          </div>
        </div>
      </div>
    </td>
    <td>
      <div class="field">
        <div class="control">
          <input class="input" type="number" step="1" min="0" placeholder="จำนวน"
            data-bind="value: majorCarerNumAssistant, enable: majorCarerHasAssistant() !== '3'">
          <p class="help">โปรดระบุจำนวนคนถ้ามี</p>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td>15.</td>
    <td>ท่านเคยได้รับคำแนะนำหรือการฝึกทักษะการดูแลผู้ป่วยสมองเสื่อมหรือไม่</td>
    <td colspan="2">
      <div class="field">
        <div class="control">
          <div class="select">
            <select data-bind="value: majorCarerHasTrained">
              <option value="">โปรดระบุ</option>
              <option value="1">เคย</option>
              <option value="2">ไม่เคย</option>
            </select>
          </div>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td>16.</td>
    <td>ท่านเคยมีประสบการณ์ในการดูแลผู้ป่วยสมองเสื่อมหรือไม่</td>
    <td>
      <div class="field">
        <div class="control">
          <div class="select">
            <select data-bind="value: majorCarerHasExp">
              <option value="">โปรดระบุ</option>
              <option value="1">เคย</option>
              <option value="2">ไม่เคย</option>
            </select>
          </div>
        </div>
      </div>
    </td>
    <td>
      <div class="field">
        <div class="control">
          <input class="input" type="text" placeholder="ระยะเวลา"
            data-bind="value: majorCarerExpDuration, enable: majorCarerHasExp() === '1'">
          <p class="help">โปรดระบุระยะเวลาถ้าเคย</p>
        </div>
      </div>
    </td>
  </tr>
  </tbody>
</table>
