<div data-bind="page: {id: 'tgds', afterShow: function() { currPageId('tgds'); }}">
  <div class="tabs is-fullwidth is-toggle is-toggle-rounded">
    <ul>
      <li>
        <a data-bind="page-href: '../adl'">
          <span class="icon">
              <i class="fa fa-arrow-circle-left"></i>
          </span>
          &nbsp;แบบประเมินความสามาถในการทำกิจวัตรประจำวัน
        </a>
      </li>
      <li>
        <a data-bind="click: submitResults">
          บันทึก&nbsp;
          <span class="icon">
              <i class="fa fa-save"></i>
          </span>
        </a>
      </li>
      <li>
        <a data-bind="page-href: '../2q'">
          <span class="icon">
            <i class="fa fa-arrow-circle-right"></i>
          </span>
          แบบคัดกรองภาวะซึมเศร้าสองคำถาม (2Q)&nbsp;
        </a>
      </li>
    </ul>
  </div> <!-- tabs -->
  <div class="box">
    <h1 class="title is-size-5">แบบประเมินภาวะซึมเศร้าสำหรับผู้สูงอายุไทย (TGDS)</h1>
    <table class="table is-striped">
      <thead>
      <tr>
        <th>ข้อ</th>
        <th>ในช่วงสัปดาห์ที่ผ่านมา</th>
        <th>ผลการประเมิน</th>
        <th>คะแนน</th>
      </tr>
      </thead>
      <tbody>
      <col width="5%">
      <col width="60%">
      <col width="30%">
      <col width="5%">
      <tr>
        <td>1.</td>
        <td>ท่านพอใจกับความเป็นอยู่ในตอนนี้</td>
        <td>
          <div class="field is-grouped">
            <div class="control">
              <label class="radio">
                <input type="radio" data-bind="checked: tgds_1" name="tgds_1" value="1">
                ใช่
              </label>
            </div>
          </div>
          <div class="control">
            <label class="radio">
              <input type="radio" data-bind="checked: tgds_1" name="tgds_1" value="0">
              ไม่ใช่
            </label>
          </div>
        </td>
        <td><span data-bind="text: tgds_1"></span></td>
      </tr>
      <tr>
        <td>2.</td>
        <td>ท่านไม่อยากทำในสิ่งที่เคยสนใจหรือเคยทำเป็นประจำ</td>
        <td>
          <div class="field is-grouped">
            <div class="control">
              <label class="radio">
                <input type="radio" data-bind="checked: tgds_2" name="tgds_2" value="1">
                ใช่
              </label>
            </div>
          </div>
          <div class="control">
            <label class="radio">
              <input type="radio" data-bind="checked: tgds_2" name="tgds_2" value="0">
              ไม่ใช่
            </label>
          </div>
        </td>
        <td><span data-bind="text: tgds_2"></span></td>
      </tr>
      <tr>
        <td>3.</td>
        <td>ท่านรู้สึกว่าชีวิตของท่านช่วงนี้ว่างเปล่าไม่รู้จะทำอะไร</td>
        <td>
          <div class="field is-grouped">
            <div class="control">
              <label class="radio">
                <input type="radio" data-bind="checked: tgds_3" name="tgds_3" value="1">
                ใช่
              </label>
            </div>
          </div>
          <div class="control">
            <label class="radio">
              <input type="radio" data-bind="checked: tgds_3" name="tgds_3" value="0">
              ไม่ใช่
            </label>
          </div>
        </td>
        <td><span data-bind="text: tgds_3"></span></td>
      </tr>
      <tr>
        <td>4.</td>
        <td>ท่านรู้สึกเบื่อหน่ายบ่อยๆ</td>
        <td>
          <div class="field is-grouped">
            <div class="control">
              <label class="radio">
                <input type="radio" data-bind="checked: tgds_4" name="tgds_4" value="1">
                ใช่
              </label>
            </div>
          </div>
          <div class="control">
            <label class="radio">
              <input type="radio" data-bind="checked: tgds_4" name="tgds_4" value="0">
              ไม่ใช่
            </label>
          </div>
        </td>
        <td><span data-bind="text: tgds_4"></span></td>
      </tr>
      <tr>
        <td>5.</td>
        <td>ท่านหวังว่าจะมีสิ่งที่ดีเกิดขึ้นในวันข้างหน้า</td>
        <td>
          <div class="field is-grouped">
            <div class="control">
              <label class="radio">
                <input type="radio" data-bind="checked: tgds_5" name="tgds_5" value="1">
                ใช่
              </label>
            </div>
          </div>
          <div class="control">
            <label class="radio">
              <input type="radio" data-bind="checked: tgds_5" name="tgds_5" value="0">
              ไม่ใช่
            </label>
          </div>
        </td>
        <td><span data-bind="text: tgds_5"></span></td>
      </tr>
      <tr>
        <td>6.</td>
        <td>ท่านมีเรื่องกังวลตลอดเวลาและเลิกคิดไม่ได้</td>
        <td>
          <div class="field is-grouped">
            <div class="control">
              <label class="radio">
                <input type="radio" data-bind="checked: tgds_6" name="tgds_6" value="1">
                ใช่
              </label>
            </div>
          </div>
          <div class="control">
            <label class="radio">
              <input type="radio" data-bind="checked: tgds_6" name="tgds_6" value="0">
              ไม่ใช่
            </label>
          </div>
        </td>
        <td><span data-bind="text: tgds_6"></span></td>
      </tr>
      <tr>
        <td>7.</td>
        <td>ส่วนใหญ่แล้วท่านรู้สึกอารมณ์ดี</td>
        <td>
          <div class="field is-grouped">
            <div class="control">
              <label class="radio">
                <input type="radio" data-bind="checked: tgds_7" name="tgds_7" value="1">
                ใช่
              </label>
            </div>
          </div>
          <div class="control">
            <label class="radio">
              <input type="radio" data-bind="checked: tgds_7" name="tgds_7" value="0">
              ไม่ใช่
            </label>
          </div>
        </td>
        <td><span data-bind="text: tgds_7"></span></td>
      </tr>
      <tr>
        <td>8.</td>
        <td>ท่านรู้สึกกลัวว่าจะมีเรื่องไม่ดีเกิดขึ้นกับท่าน</td>
        <td>
          <div class="field is-grouped">
            <div class="control">
              <label class="radio">
                <input type="radio" data-bind="checked: tgds_8" name="tgds_8" value="1">
                ใช่
              </label>
            </div>
          </div>
          <div class="control">
            <label class="radio">
              <input type="radio" data-bind="checked: tgds_8" name="tgds_8" value="0">
              ไม่ใช่
            </label>
          </div>
        </td>
        <td><span data-bind="text: tgds_8"></span></td>
      </tr>
      <tr>
        <td>9.</td>
        <td>ส่วนใหญ่ท่านรู้สึกมีความสุข</td>
        <td>
          <div class="field is-grouped">
            <div class="control">
              <label class="radio">
                <input type="radio" data-bind="checked: tgds_9" name="tgds_9" value="1">
                ใช่
              </label>
            </div>
          </div>
          <div class="control">
            <label class="radio">
              <input type="radio" data-bind="checked: tgds_9" name="tgds_9" value="0">
              ไม่ใช่
            </label>
          </div>
        </td>
        <td><span data-bind="text: tgds_9"></span></td>
      </tr>
      <tr>
        <td>10.</td>
        <td>บ่อยครั้งที่ท่านรู้สึกไม่มีที่พึ่ง</td>
        <td>
          <div class="field is-grouped">
            <div class="control">
              <label class="radio">
                <input type="radio" data-bind="checked: tgds_10" name="tgds_10" value="1">
                ใช่
              </label>
            </div>
          </div>
          <div class="control">
            <label class="radio">
              <input type="radio" data-bind="checked: tgds_10" name="tgds_10" value="0">
              ไม่ใช่
            </label>
          </div>
        </td>
        <td><span data-bind="text: tgds_10"></span></td>
      </tr>
      <tr>
        <td>11.</td>
        <td>ท่านรู้สึกกระวนกระวาย กระสับกระส่ายบ่อยๆ</td>
        <td>
          <div class="field is-grouped">
            <div class="control">
              <label class="radio">
                <input type="radio" data-bind="checked: tgds_11" name="tgds_11" value="1">
                ใช่
              </label>
            </div>
          </div>
          <div class="control">
            <label class="radio">
              <input type="radio" data-bind="checked: tgds_11" name="tgds_11" value="0">
              ไม่ใช่
            </label>
          </div>
        </td>
        <td><span data-bind="text: tgds_11"></span></td>
      </tr>
      <tr>
        <td>12.</td>
        <td>ท่านชอบอยู่กับบ้านมากกว่าที่จะออกนอกบ้าน</td>
        <td>
          <div class="field is-grouped">
            <div class="control">
              <label class="radio">
                <input type="radio" data-bind="checked: tgds_12" name="tgds_12" value="1">
                ใช่
              </label>
            </div>
          </div>
          <div class="control">
            <label class="radio">
              <input type="radio" data-bind="checked: tgds_12" name="tgds_12" value="0">
              ไม่ใช่
            </label>
          </div>
        </td>
        <td><span data-bind="text: tgds_12"></span></td>
      </tr>
      <tr>
        <td>13.</td>
        <td>บ่อยครั้งที่ท่านรู้สึกวิตกกังวลเกี่ยวกับอนาคตข้างหน้า</td>
        <td>
          <div class="field is-grouped">
            <div class="control">
              <label class="radio">
                <input type="radio" data-bind="checked: tgds_13" name="tgds_13" value="1">
                ใช่
              </label>
            </div>
          </div>
          <div class="control">
            <label class="radio">
              <input type="radio" data-bind="checked: tgds_13" name="tgds_13" value="0">
              ไม่ใช่
            </label>
          </div>
        </td>
        <td><span data-bind="text: tgds_13"></span></td>
      </tr>
      <tr>
        <td>14.</td>
        <td>ท่านคิดว่าความจำท่านไม่ดีเท่าคนอื่น</td>
        <td>
          <div class="field is-grouped">
            <div class="control">
              <label class="radio">
                <input type="radio" data-bind="checked: tgds_14" name="tgds_14" value="1">
                ใช่
              </label>
            </div>
          </div>
          <div class="control">
            <label class="radio">
              <input type="radio" data-bind="checked: tgds_14" name="tgds_14" value="0">
              ไม่ใช่
            </label>
          </div>
        </td>
        <td><span data-bind="text: tgds_14"></span></td>
      </tr>
      <tr>
        <td>15.</td>
        <td>การที่มีชีวิตอยู่ถึงปัจจุบันนี้เป็นเรื่องน่ายินดีหรือไม่</td>
        <td>
          <div class="field is-grouped">
            <div class="control">
              <label class="radio">
                <input type="radio" data-bind="checked: tgds_15" name="tgds_15" value="1">
                ใช่
              </label>
            </div>
          </div>
          <div class="control">
            <label class="radio">
              <input type="radio" data-bind="checked: tgds_15" name="tgds_15" value="0">
              ไม่ใช่
            </label>
          </div>
        </td>
        <td><span data-bind="text: tgds_15"></span></td>
      </tr>
      <tr>
        <td>16.</td>
        <td>ท่านรู้สึกหมดกำลังใจหรือเศร้าใจบ่อยๆ</td>
        <td>
          <div class="field is-grouped">
            <div class="control">
              <label class="radio">
                <input type="radio" data-bind="checked: tgds_16" name="tgds_16" value="1">
                ใช่
              </label>
            </div>
          </div>
          <div class="control">
            <label class="radio">
              <input type="radio" data-bind="checked: tgds_16" name="tgds_16" value="0">
              ไม่ใช่
            </label>
          </div>
        </td>
        <td><span data-bind="text: tgds_16"></span></td>
      </tr>
      <tr>
        <td>17.</td>
        <td>ท่านรู้สึกว่าชีวิตของท่านค่อนข้างไม่มีคุณค่า</td>
        <td>
          <div class="field is-grouped">
            <div class="control">
              <label class="radio">
                <input type="radio" data-bind="checked: tgds_17" name="tgds_17" value="1">
                ใช่
              </label>
            </div>
          </div>
          <div class="control">
            <label class="radio">
              <input type="radio" data-bind="checked: tgds_17" name="tgds_17" value="0">
              ไม่ใช่
            </label>
          </div>
        </td>
        <td><span data-bind="text: tgds_17"></span></td>
      </tr>
      <tr>
        <td>18.</td>
        <td>ท่านรู้สึกกังวลมากกับชีวิตที่ผ่านมา</td>
        <td>
          <div class="field is-grouped">
            <div class="control">
              <label class="radio">
                <input type="radio" data-bind="checked: tgds_18" name="tgds_18" value="1">
                ใช่
              </label>
            </div>
          </div>
          <div class="control">
            <label class="radio">
              <input type="radio" data-bind="checked: tgds_18" name="tgds_18" value="0">
              ไม่ใช่
            </label>
          </div>
        </td>
        <td><span data-bind="text: tgds_18"></span></td>
      </tr>
      <tr>
        <td>19.</td>
        <td>ท่านรู้สึกว่าชีวิตนี้มีเรื่องน่าสนุกอีกมาก</td>
        <td>
          <div class="field is-grouped">
            <div class="control">
              <label class="radio">
                <input type="radio" data-bind="checked: tgds_19" name="tgds_19" value="1">
                ใช่
              </label>
            </div>
          </div>
          <div class="control">
            <label class="radio">
              <input type="radio" data-bind="checked: tgds_19" name="tgds_19" value="0">
              ไม่ใช่
            </label>
          </div>
        </td>
        <td><span data-bind="text: tgds_19"></span></td>
      </tr>
      <tr>
        <td>20.</td>
        <td>ท่านรู้สึกลำบากที่จะเริ่มต้นทำอะไรใหม่</td>
        <td>
          <div class="field is-grouped">
            <div class="control">
              <label class="radio">
                <input type="radio" data-bind="checked: tgds_20" name="tgds_20" value="1">
                ใช่
              </label>
            </div>
          </div>
          <div class="control">
            <label class="radio">
              <input type="radio" data-bind="checked: tgds_20" name="tgds_20" value="0">
              ไม่ใช่
            </label>
          </div>
        </td>
        <td><span data-bind="text: tgds_20"></span></td>
      </tr>
      <tr>
        <td>21.</td>
        <td>ท่านรู้สึกกระตือรือร้น</td>
        <td>
          <div class="field is-grouped">
            <div class="control">
              <label class="radio">
                <input type="radio" data-bind="checked: tgds_21" name="tgds_21" value="1">
                ใช่
              </label>
            </div>
          </div>
          <div class="control">
            <label class="radio">
              <input type="radio" data-bind="checked: tgds_21" name="tgds_21" value="0">
              ไม่ใช่
            </label>
          </div>
        </td>
        <td><span data-bind="text: tgds_21"></span></td>
      </tr>
      <tr>
        <td>22.</td>
        <td>ท่านรู้สึกสิ้นหวัง</td>
        <td>
          <div class="field is-grouped">
            <div class="control">
              <label class="radio">
                <input type="radio" data-bind="checked: tgds_22" name="tgds_22" value="1">
                ใช่
              </label>
            </div>
          </div>
          <div class="control">
            <label class="radio">
              <input type="radio" data-bind="checked: tgds_22" name="tgds_22" value="0">
              ไม่ใช่
            </label>
          </div>
        </td>
        <td><span data-bind="text: tgds_22"></span></td>
      </tr>
      <tr>
        <td>23.</td>
        <td>ท่านคิดว่าคนอื่นดีกว่าท่าน</td>
        <td>
          <div class="field is-grouped">
            <div class="control">
              <label class="radio">
                <input type="radio" data-bind="checked: tgds_23" name="tgds_23" value="1">
                ใช่
              </label>
            </div>
          </div>
          <div class="control">
            <label class="radio">
              <input type="radio" data-bind="checked: tgds_23" name="tgds_23" value="0">
              ไม่ใช่
            </label>
          </div>
        </td>
        <td><span data-bind="text: tgds_23"></span></td>
      </tr>
      <tr>
        <td>24.</td>
        <td>ท่านอารมณ์เสียง่ายกับเรื่องเล็กๆน้อยๆอยู่เสมอ</td>
        <td>
          <div class="field is-grouped">
            <div class="control">
              <label class="radio">
                <input type="radio" data-bind="checked: tgds_24" name="tgds_24" value="1">
                ใช่
              </label>
            </div>
          </div>
          <div class="control">
            <label class="radio">
              <input type="radio" data-bind="checked: tgds_24" name="tgds_24" value="0">
              ไม่ใช่
            </label>
          </div>
        </td>
        <td><span data-bind="text: tgds_24"></span></td>
      </tr>
      <tr>
        <td>25.</td>
        <td>ท่านรู้สึกอยากร้องไห้บ่อยๆ</td>
        <td>
          <div class="field is-grouped">
            <div class="control">
              <label class="radio">
                <input type="radio" data-bind="checked: tgds_25" name="tgds_25" value="1">
                ใช่
              </label>
            </div>
          </div>
          <div class="control">
            <label class="radio">
              <input type="radio" data-bind="checked: tgds_25" name="tgds_25" value="0">
              ไม่ใช่
            </label>
          </div>
        </td>
        <td><span data-bind="text: tgds_25"></span></td>
      </tr>
      <tr>
        <td>26.</td>
        <td>ท่านมีความตั้งใจจะทำสิ่งใดสิ่งหนึ่งได้ไม่นาน</td>
        <td>
          <div class="field is-grouped">
            <div class="control">
              <label class="radio">
                <input type="radio" data-bind="checked: tgds_26" name="tgds_26" value="1">
                ใช่
              </label>
            </div>
          </div>
          <div class="control">
            <label class="radio">
              <input type="radio" data-bind="checked: tgds_26" name="tgds_26" value="0">
              ไม่ใช่
            </label>
          </div>
        </td>
        <td><span data-bind="text: tgds_26"></span></td>
      </tr>
      <tr>
        <td>27.</td>
        <td>ท่านรู้สึกสดชื่นในเวลาตื่นนอนตอนเช้า</td>
        <td>
          <div class="field is-grouped">
            <div class="control">
              <label class="radio">
                <input type="radio" data-bind="checked: tgds_27" name="tgds_27" value="1">
                ใช่
              </label>
            </div>
          </div>
          <div class="control">
            <label class="radio">
              <input type="radio" data-bind="checked: tgds_27" name="tgds_27" value="0">
              ไม่ใช่
            </label>
          </div>
        </td>
        <td><span data-bind="text: tgds_27"></span></td>
      </tr>
      <tr>
        <td>28.</td>
        <td>ท่านไม่อยากพบปะพูดคุยกับคนอื่น</td>
        <td>
          <div class="field is-grouped">
            <div class="control">
              <label class="radio">
                <input type="radio" data-bind="checked: tgds_28" name="tgds_28" value="1">
                ใช่
              </label>
            </div>
          </div>
          <div class="control">
            <label class="radio">
              <input type="radio" data-bind="checked: tgds_28" name="tgds_28" value="0">
              ไม่ใช่
            </label>
          </div>
        </td>
        <td><span data-bind="text: tgds_28"></span></td>
      </tr>
      <tr>
        <td>29.</td>
        <td>ท่านตัดสินใจอะไรเร็ว</td>
        <td>
          <div class="field is-grouped">
            <div class="control">
              <label class="radio">
                <input type="radio" data-bind="checked: tgds_29" name="tgds_29" value="1">
                ใช่
              </label>
            </div>
          </div>
          <div class="control">
            <label class="radio">
              <input type="radio" data-bind="checked: tgds_29" name="tgds_29" value="0">
              ไม่ใช่
            </label>
          </div>
        </td>
        <td><span data-bind="text: tgds_29"></span></td>
      </tr>
      <tr>
        <td>30.</td>
        <td>ท่านมีจิตใจสบายแจ่มใสเหมือนก่อน</td>
        <td>
          <div class="field is-grouped">
            <div class="control">
              <label class="radio">
                <input type="radio" data-bind="checked: tgds_30" name="tgds_30" value="1">
                ใช่
              </label>
            </div>
          </div>
          <div class="control">
            <label class="radio">
              <input type="radio" data-bind="checked: tgds_30" name="tgds_30" value="0">
              ไม่ใช่
            </label>
          </div>
        </td>
        <td><span data-bind="text: tgds_30"></span></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="tabs is-fullwidth is-toggle is-toggle-rounded">
    <ul>
      <li>
        <a data-bind="page-href: '../adl'">
          <span class="icon">
              <i class="fa fa-arrow-circle-left"></i>
          </span>
          &nbsp;แบบประเมินความสามาถในการทำกิจวัตรประจำวัน
        </a>
      </li>
      <li>
        <a data-bind="click: submitResults">
          บันทึก&nbsp;
          <span class="icon">
              <i class="fa fa-save"></i>
          </span>
        </a>
      </li>
      <li>
        <a data-bind="page-href: '../2q'">
          <span class="icon">
            <i class="fa fa-arrow-circle-right"></i>
          </span>
          แบบคัดกรองภาวะซึมเศร้าสองคำถาม (2Q)&nbsp;
        </a>
      </li>
    </ul>
  </div> <!-- tabs -->
</div>
