<div data-bind="page: {id: 'tgds', afterShow: function() { currPageId('tgds'); }}">
  <div class="box">
    <h1 class="title is-size-5">แบบประเมินภาวะซึมเศร้าสำหรับผู้สูงอายุไทย (TGDS)</h1>
    <table class="table is-striped">
      <thead>
      <tr>
        <th>ข้อ</th>
        <th>ในช่วงสัปดาห์ที่ผ่านมา</th>
        <th>ผลการประเมิน</th>
        <th>คะแนน</th>
      </tr>
      </thead>
      <tbody>
      <col width="5%">
      <col width="60%">
      <col width="30%">
      <col width="5%">
      <tr>
        <td>1.</td>
        <td>ท่านพอใจกับความเป็นอยู่ในตอนนี้</td>
        <td>
          <div class="field is-grouped">
            <div class="control">
              <label class="radio">
                <input type="radio" data-bind="checked: tgds_1" name="tgds_1" value="1">
                ใช่
              </label>
            </div>
          </div>
          <div class="control">
            <label class="radio">
              <input type="radio" data-bind="checked: tgds_1" name="tgds_1" value="0">
              ไม่ใช่
            </label>
          </div>
        </td>
        <td><span data-bind="text: tgds_1"></span></td>
      </tr>
      <tr>
        <td>2.</td>
        <td>ท่านไม่อยากทำในสิ่งที่เคยสนใจหรือเคยทำเป็นประจำ</td>
        <td>
          <div class="field is-grouped">
            <div class="control">
              <label class="radio">
                <input type="radio" data-bind="checked: tgds_2" name="tgds_2" value="1">
                ใช่
              </label>
            </div>
          </div>
          <div class="control">
            <label class="radio">
              <input type="radio" data-bind="checked: tgds_2" name="tgds_2" value="0">
              ไม่ใช่
            </label>
          </div>
        </td>
        <td><span data-bind="text: tgds_2"></span></td>
      </tr>
      <tr>
        <td>3.</td>
        <td>ท่านรู้สึกว่าชีวิตของท่านช่วงนี้ว่างเปล่าไม่รู้จะทำอะไร</td>
        <td>
          <div class="field is-grouped">
            <div class="control">
              <label class="radio">
                <input type="radio" data-bind="checked: tgds_3" name="tgds_3" value="1">
                ใช่
              </label>
            </div>
          </div>
          <div class="control">
            <label class="radio">
              <input type="radio" data-bind="checked: tgds_3" name="tgds_3" value="0">
              ไม่ใช่
            </label>
          </div>
        </td>
        <td><span data-bind="text: tgds_3"></span></td>
      </tr>
      <tr>
        <td>4.</td>
        <td>ท่านรู้สึกเบื่อหน่ายบ่อยๆ</td>
        <td>
          <div class="field is-grouped">
            <div class="control">
              <label class="radio">
                <input type="radio" data-bind="checked: tgds_4" name="tgds_4" value="1">
                ใช่
              </label>
            </div>
          </div>
          <div class="control">
            <label class="radio">
              <input type="radio" data-bind="checked: tgds_4" name="tgds_4" value="0">
              ไม่ใช่
            </label>
          </div>
        </td>
        <td><span data-bind="text: tgds_4"></span></td>
      </tr>
      <tr>
        <td>5.</td>
        <td>ท่านหวังว่าจะมีสิ่งที่ดีเกิดขึ้นในวันข้างหน้า</td>
        <td>
          <div class="field is-grouped">
            <div class="control">
              <label class="radio">
                <input type="radio" data-bind="checked: tgds_5" name="tgds_5" value="1">
                ใช่
              </label>
            </div>
          </div>
          <div class="control">
            <label class="radio">
              <input type="radio" data-bind="checked: tgds_5" name="tgds_5" value="0">
              ไม่ใช่
            </label>
          </div>
        </td>
        <td><span data-bind="text: tgds_5"></span></td>
      </tr>
      <tr>
        <td>6.</td>
        <td>ท่านมีเรื่องกังวลตลอดเวลาและเลิกคิดไม่ได้</td>
        <td>
          <div class="field is-grouped">
            <div class="control">
              <label class="radio">
                <input type="radio" data-bind="checked: tgds_6" name="tgds_6" value="1">
                ใช่
              </label>
            </div>
          </div>
          <div class="control">
            <label class="radio">
              <input type="radio" data-bind="checked: tgds_6" name="tgds_6" value="0">
              ไม่ใช่
            </label>
          </div>
        </td>
        <td><span data-bind="text: tgds_6"></span></td>
      </tr>
      <tr>
        <td>7.</td>
        <td>ส่วนใหญ่แล้วท่านรู้สึกอารมณ์ดี</td>
        <td>
          <div class="field is-grouped">
            <div class="control">
              <label class="radio">
                <input type="radio" data-bind="checked: tgds_7" name="tgds_7" value="1">
                ใช่
              </label>
            </div>
          </div>
          <div class="control">
            <label class="radio">
              <input type="radio" data-bind="checked: tgds_7" name="tgds_7" value="0">
              ไม่ใช่
            </label>
          </div>
        </td>
        <td><span data-bind="text: tgds_7"></span></td>
      </tr>
      <tr>
        <td>8.</td>
        <td>ท่านรู้สึกกลัวว่าจะมีเรื่องไม่ดีเกิดขึ้นกับท่าน</td>
        <td>
          <div class="field is-grouped">
            <div class="control">
              <label class="radio">
                <input type="radio" data-bind="checked: tgds_8" name="tgds_8" value="1">
                ใช่
              </label>
            </div>
          </div>
          <div class="control">
            <label class="radio">
              <input type="radio" data-bind="checked: tgds_8" name="tgds_8" value="0">
              ไม่ใช่
            </label>
          </div>
        </td>
        <td><span data-bind="text: tgds_8"></span></td>
      </tr>
      <tr>
        <td>9.</td>
        <td>ส่วนใหญ่ท่านรู้สึกมีความสุข</td>
        <td>
          <div class="field is-grouped">
            <div class="control">
              <label class="radio">
                <input type="radio" data-bind="checked: tgds_9" name="tgds_9" value="1">
                ใช่
              </label>
            </div>
          </div>
          <div class="control">
            <label class="radio">
              <input type="radio" data-bind="checked: tgds_9" name="tgds_9" value="0">
              ไม่ใช่
            </label>
          </div>
        </td>
        <td><span data-bind="text: tgds_9"></span></td>
      </tr>
      <tr>
        <td>10.</td>
        <td>บ่อยครั้งที่ท่านรู้สึกไม่มีที่พึ่ง</td>
        <td>
          <div class="field is-grouped">
            <div class="control">
              <label class="radio">
                <input type="radio" data-bind="checked: tgds_10" name="tgds_10" value="1">
                ใช่
              </label>
            </div>
          </div>
          <div class="control">
            <label class="radio">
              <input type="radio" data-bind="checked: tgds_10" name="tgds_10" value="0">
              ไม่ใช่
            </label>
          </div>
        </td>
        <td><span data-bind="text: tgds_10"></span></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="tabs is-fullwidth is-toggle is-toggle-rounded">
    <ul>
      <li>
        <a data-bind="page-href: '../adl'">
          <span class="icon">
              <i class="fa fa-arrow-circle-left"></i>
          </span>
          &nbsp;แบบประเมินความสามาถในการทำกิจวัตรประจำวัน
        </a>
      </li>
      <li>
        <a data-bind="click: submitResults">
          บันทึก&nbsp;
          <span class="icon">
              <i class="fa fa-save"></i>
          </span>
        </a>
      </li>
      <li>
        <a data-bind="page-href:">
          <span class="icon">
            <i class="fa fa-arrow-circle-right"></i>
          </span>
          แบบประเมินสิ่งแวดล้อมฯ&nbsp;
        </a>
      </li>
    </ul>
  </div> <!-- tabs -->
</div>
